<div id="accordeon" class="col-md-12 ">
				  	<div class="cbp-item round">
					    <div class="cbp-caption first">
								<div class="cbp-caption-defaultWrap"><h4>Auto Immune Disorders</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>By intravenously administering high doses of nutrients, we can restore the immune system, even after it has been supressed by allergies, nutritional deficiencies, or other irritants.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption second">
								<div class="cbp-caption-defaultWrap"><h4>Athletes</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>A glutamine IV can enhance training and game performance, speed recovery, and restore function to lungs and muscle fibers.
										We can also use the legally compliant, natural amino acid, arginine to help produce more growth hormone. </p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption third">
								<div class="cbp-caption-defaultWrap"><h4>Cancer Patients</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>We work with patients of chemotherapy and radiation, to help their immune system recover from the toxic side effects.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption fourth">
								<div class="cbp-caption-defaultWrap"><h4>Detoxification</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients with heavy metal toxicity and fibromyalgia can benefit from intravenous vitamins and minerals. Detox is also a great way to kick start a weight loss program.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="solo" class="col-md-12 ">
				  	<div class="cbp-item round">

					    <div class="cbp-caption fifth">
								<div class="cbp-caption-defaultWrap"><h4>Neurological Condition</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients who suffer from neurological conditions can benefit significantly from glutathione IV's. Glutathione increases dopamine levels, and improves motor function.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption sixth">
								<div class="cbp-caption-defaultWrap"><h4>Asthma</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Administering magnesium through an IV can reduce inflammatory effects from asthma, offering long-term relief.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption seventh">
								<div class="cbp-caption-defaultWrap"><h4>Diabetes</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients experiencing diabetes-linked neuropathy have had feeling return to limbs and better regulation of insulin with the administration of Alpha Lipoic Acid, a naturally occurring antioxidant.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption eighth">
								<div class="cbp-caption-defaultWrap"><h4>Fibromyalgia</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>enrG IV can help ease the pain from Fibromyalgia. Amino acids help with muscle recovery, and rebuild muscle tissue. Amino Acids in your drip can ease your endless aching.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
