<div class="iv-main">
	<div class="inner">
			<!-- <div class="title-box">
				<div class="inside-round">
					<h3>IV Vitamin Therapy</h3>

					<p>enrG IV clients undergo brief medical screenings before settling in for their drips.<br>
						Our medical professionals are happy to answer any questions, or address any concerns you may have.
						<b>The enrG IV team will give you the ultimate drip experience!</b></p>
				</div>
			</div> -->

		<!-- 	<div class="col-md-3">
				<%= image_tag('slices-bg.jpg', alt: '', class: 'img-responsive') %>
			</div>
 -->

 				<div class="title-round">
 					<!-- <hr><div class="clearfix"></div> -->
					<h2>IV Vitamin Therapy</h2>
 					<!-- <hr><div class="clearfix"></div> -->
 				</div>



				<div class="left">
					<div class="block1">
						<h4>What is IV Vitamin Therapy?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
						<p>Intravenous (IV) Vitamin Therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream through an IV drip. It bypasses the digestive system, and delivers the nutrients promptly to the cells where they are needed.</p>
					</div>

					<div class="block2">
						<h4>Why Does it Work?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
						<p>Because it bypasses digestion, intravenous delivery allows nutrients to be completely absorbed, and in most cases, the body requires less to heal. It results in faster, longer lasting relief, as the nutrients work to rehydrate, dispel toxins, and restore balance.</p>
					</div>

					<div class="block3">
						<h4>Why Should You Drip?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
				 		<p>IV Vitamin Therapies effectively provide relief, healing, and recovery for people with health concerns ranging anywhere from dehydration, all the way to chronic illness. <b>Even so, it is not limited only to those who suffer from a medical condition.</b> IV therapy is useful for anyone interested in increasing health and immune functions, boosting energy levels and mood, and enhancing athletic performance. </p>
				 	</div>
				</div>


				<!-- <div class="row">
					<%= render 'static_pages/iv-acc' %>
				</div> -->

				<div class="right">
					<div id="#members" class="container-fluid sm-nopad">
						<div class="sec1">
							<%= image_tag('menu-circlesblue.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
							<!-- <h2>Join the Club</h2>
							<h3>enrG IV Members save big!</h3>
							<h4>We offer <b>3 Month</b>, <b>6 Month</b>, and <b>12 Month</b> Membership Packages. Choose a plan today, and boost your savings as you boost your health! </h4>
							<div class="title-line"></div> -->
							<h4 class="space">There are countless reasons to try IV therapy.
							The following list contains a few of the most common reasons why enrG IV clients seek our services.
							Choose any item for more information on how IV therapy can help. </h4>
						</div>


						<div class="row">
							<%= render 'static_pages/iv-acc' %>
						</div>

						<!-- <div class="monthly one"><h4>3 Month:<br> <span>$109/mo.</span></h4></div>
						<div class="monthly two"><h4>6 Month:<br> <span>$99/mo.</span></h4></div>
						<div class="monthly last"><h4>12 Month:<br> <span>$69/mo.</span></h4></div>

						 <div class="mem-box">
							<h3>What do members get? </h3>
							<div class="title-line"></div>
							<p class="pleft"><i class="fa fa-tint"></i> The first treatment each month,<br><span> free of charge</span></p>
							<div class="title-line"></div>
							<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
							<div class="title-line"></div>
							<p><span class="print">*IV Drips regularly cost $149 </span></p>
						</div> -->
					</div>
				</div>
	</div>
</div>
