<div class="modal-coll">

		<div class="uk-modal" id="members">
		  <div class="uk-modal-dialog">
		    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
				<!-- <div id="#members"> -->
				<div class="content">
					<div class="sec1">
						<%= image_tag('menu-circlesblue.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
						<h2>Join the Club</h2>
						<h3>enrG IV Members save big!</h3>
						<h4>We offer <b>3 Month</b>, <b>6 Month</b>, and <b>12 Month</b> Membership Packages. Choose a plan today, and boost your savings as you boost your health! </h4>
						<div class="title-line"></div>
					</div>

					<div class="monthly one"><h4>3 Month:<br> <span>$109/mo.</span></h4></div>
					<div class="monthly two"><h4>6 Month:<br> <span>$99/mo.</span></h4></div>
					<div class="monthly last"><h4>12 Month:<br> <span>$69/mo.</span></h4></div>

					<div class="mem-box">
						<h3>What do members get? </h3>
						<div class="title-line"></div>
						<p class="pleft"><i class="fa fa-tint"></i> The first treatment each month,<br><span> free of charge</span></p>
						<div class="title-line"></div>
						<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
						<div class="title-line"></div>
						<p><span class="print">*IV Drips regularly cost $149 </span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="uk-modal" id="clinic">
		  <div class="uk-modal-dialog">
		    <a class="uk-modal-close fa fa-close"></a>
		    <div class="content">
							<h2>Clinic Visits</h2>
							<p>All visits include extensive history and physical assessment, initial dietary and supplement recommendations, and laboratory recommendations.</p>

							<hr>
							<h4>Initial Visit Cost:</h4>
							<p><b>Doctor's Office</b>... $299</p>
							<p><b>Nurse Practioner</b>... $245</p>
							<p><b>RN</b>... $199</p>
							<hr>
						<p class="fine">*Some laboratory expenses may be covered by insurance.<br> Others may be out of pocket expenses.</p>
		    </div>
		  </div>
		</div>

		<div class="uk-modal" id="deal">
		  <div class="uk-modal-dialog">
		    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
		    <div class="content specials">
					<h3 class="blue">Get 4 IV’s for $429 </h3>
					<h4> No Membership Required!</h4>
					<p><span>*IV Drips regularly cost $149 each. </span></p>
					<hr><div class="clearfix"></div>
					<%= link_to "View Our IV Menu", menu_path, class: 'modal-link' %>
				</div>
			</div>
		</div>

		<div class="uk-modal" id="package">
		  <div class="uk-modal-dialog">
		    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
		    <div class="content specials">
		    			<h3 class="blue">Weight Loss Package</h3>
							<h4>$350 Nutritional Program</h4>
		    			<div class="col-md-6"><hr></div>
		    			<div class="clearfix"></div>
							<p>Fitness plan, detoxification plan with supplements</p>
							<p>4 weekly evaluations, with body composition analysis. </p>
							<p>Lipotropic enrgy boosting injections at each visit.</p>
				</div>
			</div>
		</div>



		<div class="uk-modal" id="appt">
		  <div class="uk-modal-dialog uk-modal-dialog-large">
		    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
		    <div class="content">
					<iframe src="https://drchrono.com/scheduling/offices/139140" width="100%" height="1750px" frameborder="0"></iframe>
		    </div>
		  </div>
		</div>



</div>
