<% @page_title = "Contact Us" %>
<% @page_description = "New Subject" %>

<div class="pages-wrap">
	<div class="pages-header blue">
		<div class="container"><h1>Contact <span>enrG-IV</span></h1></div>
	</div>

	<div class="contact-sec">
		<div class="container">
			<div class="col-md-6">
				<div class="title-box">
				</div>

				<h4><%= number_to_phone(2057900323, delimiter: '.') %></h4>
				<h4>info@enrgiv.com</h4>
				<h4>3099 Loop Rd<br>Unit 4<br> Orange Beach, Al 36561</h4>
				<h4>Hours of Operation:<br> Monday - Friday: 10am-6pm<br> Saturday - Sunday: 10am - 3pm<br> Closed Tuesdays</h4>
				<ul class="social">
					<li><%= link_to '/fb' do %> <i class="fa fa-facebook"></i> <% end %></li>
					<li><%= link_to '/insta' do %> <i class="fa fa-instagram"></i> <% end %></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<!-- At enrG IV we provide Vitamin IV Therapy for health and wellness.  -->
<!-- We’ve taken a traditional medical treatment and given it a modern twist. We provide only the purest nutrients compounded by pharmacies with a commitment to quality control. -->
