<% @page_title = "enrG+" %>
<% @page_description = "New Subject" %>


<div class="plus">
	<div class="pages-wrap">
		<div class="pages-header img">
			<div class="container">
				<h1>enrG+ </h1>
			</div>
		</div>

		<div class="layout-main">
			<div class="container-fluid">
				<div class="content-box">

					<div class="top">
						<hr>
						<h4><span>enrG+</span> is the functional medicine side of our clinic.</h4>
						<hr>
					</div>

					<div class="block1">
						<p>Traditional medicine works as a symptom treatment model, providing relief for what is currently bothering us. This approach works very well for short term treatment, but it doesn't supply real results for patients with long term ailments, or chronic conditions. <b>enrG+ takes a more functional approach.</b></p>
					</div>

					<div class="block2">
						<p>
						Functional medicine seeks to discover the root cause of symptoms, and treat it through natural means. It views the body as one integrated system, not a collection of independent organs divided up by medical specialties. This technique results in finding connections and relationships that lead to the core problem. Functional medicine does not replace traditional medicine. It enhances it by eliminating the root cause, stopping the symptoms altogether.</p>
					</div>

					<div class="clearfix"></div>

					<div class="block3">
						<h4><span>Professional Medical Staff</span></h4>
						<p>Our team includes medical expert​s​ who have been specially trained in IV Vitamin Therapies. Their unique understanding and advanced knowledge helps our clients find the perfect therapy to fit their needs. enrG IV doctors and nurses are well-equipped to supply you with the ultimate drip experience.</p>
					</div>

					<div class="round-block">
						<div class="plus-round one">
							<a data-uk-modal="{center:true}" class="modal3 round-link" href="#clinic">
								<h4><span>More About Our</span><br> Clinic &amp; Costs</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="final">
			<div class="container-fluid">
				<div class="drip-box">
					<div class="right">
						<div class="drip hlf"><h3>We'll Drip to That!</h3></div>
						<div class="drip lag"><p>Energy</p></div>
						<div class="drip illness"><p>Inflammation</p></div>
						<div class="drip detox"><p>Detoxification</p></div>
						<div class="drip fibro"><p>Fibromyalgia</p></div>
						<div class="drip immune"><p>Auto Immune<br> Disorders</p></div>
						<div class="drip health"><p>Diabetes</p></div>
						<div class="drip ath"><p>Performance</p></div>
						<div class="drip asthma"><p>Asthma</p></div>
						<div class="drip cancer"><p>Cancer Patients</p></div>
						<div class="drip full"><p>+<br> So Much More!</p></div>
					</div>
				</div>

				<!-- <div class="">
				<h4>These are just a few examples of the countless health problems that IV therapies can help relieve.
				If you suffer from an illness, and you think IV Therapy is right for you, contact us today for more information.</h4>
				<h3>Call to schedule your enrG+ appointment, and feel the amazing effects of functional medicine.</h3> -->
				<div class="weight-loss">
					<div class="inner">
						<div class="top">
		  			<h4>Try the enrG+</h4>
		  			<h3>Weight Loss Package</h3>
						<h4><span>$350 Nutritional Program</span></h4>
						</div>
		  			<!-- <div class="inc"> -->

								<p class="inc"><%= image_tag('menu-circlesblue.png', alt: '', class: 'img-responsive icon') %> Fitness Plan, &amp; Detoxification Plan with Supplements</p>
								<p class="inc"><%= image_tag('menu-circlesblue.png', alt: '', class: 'img-responsive icon') %>4-Weekly Evaluations, with Body Composition Analysis. </p>
								<p class="inc"><%= image_tag('menu-circlesblue.png', alt: '', class: 'img-responsive icon') %>Lipotropic, Energy Boosting Injections at Each Visit.</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
