<% @page_title = "enrG+" %>
<% @page_description = "New Subject" %>

<div class="plus">

	<div class="pages-wrap">
			<div class="pages-header blue">
				<div class="container">
						<!-- <h1>enrG+</h1> -->
						<%= image_tag('nrg-plus.png', class: 'img-responsive logo-plus', alt: 'enrG Plus Logo') %>
				</div>
			</div>

			<div class="main">
				<div class="container-fluid">
					<div class="left">
						<div class="top">
							<hr>
							<h4><span>enrG+</span> is the functional medicine side of our clinic.</h4>
							<hr>
						</div>

						<div class="block1">
							<p>Traditional medicine works as a symptom treatment model.
							It provides relief for what is currently bothering us, without getting real results for chronic conditions where patients experience pain for months or even years. enrG IV takes a different approach.</p>
						</div>

						<div class="block2">
							<p>
							Functional medicine seeks to identify the root cause of symptoms, and treats them naturally. It views the body as one integrated system, not a collection of independent organs divided up by medical specialties.</p>
						</div>
					</div>

					<div class="right">
						<p>enrG+ offers real solutions to your health problems and, in most cases, can also provide the instant feeling of relief that you get from traditional medicine.</p>
						<hr>
						<h4><span>Our mission is to get our clients to optimal health through natural means.</span></h4>
						<hr>
						<p>The latest diagnostics available have helped patients identify the root cause such as dehydration, food sensitivities, inflammation, and more.
						Functional medicine does not replace traditional medicine. It enhances it.</p>
					</div>
				</div>
			</div>

			<div class="final">
				<div class="container">
					<div class="block1">
						<p>One of the most valuable of the comprehensive functional therapies available at enrG IV is the intravenous delivery of life enhancing nutrients and natural medicines.
					 	Intravenous (IV) therapies provide relief and healing for people with a wide array of health concerns.</p>
					</div>

					<div class="block2">
						<div class="inner">
							<%= link_to '/page', class: 'link' do %>
								Learn More About<br> IV Therapy
							<% end %>
						</div>
					</div>

					<div class="block3">
						<div class="inner">
							<%= link_to '/menu', class: 'link' do %>
								View our<br> IV Therapy Menu
							<% end %>
						</div>
					</div>
				</div>
			</div>
</div>


