<% @page_title = "enrG+" %>
<% @page_description = "New Subject" %>
<!-- Memberships-
12 months $70.00/month for first IV + discounts off Supplements and additional IVs for the month.
6 months  $99.00/month for first IV + discounts off Supplements and additional IVs for the month.
3 months  $109.00/month for first IV + discounts off Supplements and additional IVs for the month.

Memberships- Platnum
$399.00 an month for up to 8 IVs a month + 20% off Supplements -->

<div class="plus">
	<div class="pages-wrap">
			<div class="pages-header img">
				<div class="container">
						<%= image_tag('nrg-plus.png', class: 'img-responsive logo-plus', alt: 'enrG Plus Logo') %>
				</div>
			</div>

			<div class="layout-main">
				<div class="container-fluid">
					<div class="content-box">

						<div class="top">
							<hr>
							<h4><span>enrG+</span> is the functional medicine side of our clinic.</h4>
							<hr>
						</div>

						<div class="block1">
							<p>Traditional medicine works as a symptom treatment model, providing relief for what is currently bothering us. This approach works very well as a band aid, but it doesn't supply real results for patients with long term ailments, or chronic conditions. enrG IV takes a more functional approach.</p>
						</div>

						<div class="block2">
							<p>
							Functional medicine seeks to discover the root cause of symptoms, and treat it through natural means. It views the body as one integrated system, not a collection of independent organs divided up by medical specialties. This technique results in finding connections and relationships that lead to the core problem. Functional medicine does not replace traditional medicine. It enhances it by eliminating the root cause, stopping the symptoms altogether.</p>
						</div>

						<div class="clearfix"></div>

						<div class="block3">
							<p>enrG+ offers real solutions to your health problems and, in most cases, can also provide the instant feeling of relief that you get from traditional medicine. One of the most valuable of our comprehensive functional therapies is the intravenous delivery of life enhancing nutrients and natural medicines. Intravenous (IV) therapies provide relief and healing for people with health concerns of all kinds.</p>
						</div>

						<div class="block4">
							<p>All visits include extensive history and physical assessment, initial dietary and supplement recommendations, and laboratory needs.</p>
							<h4>View Clinic Costs</h4>

							<!-- <div class="link-btn">
								<div class="inner">
									<%= link_to '/iv-therapy', class: 'link' do %>
										<h5>More About<br> <span>IV Vitamin Therapy</span></h5>
									<% end %>
								</div>
							</div> -->

							<!-- <div class="link-btn lt">
								<div class="inner">
									<%= link_to '/menu', class: 'link' do %>
										<h5>View our<br> <span>IV Therapy Menu</span></h5>
									<% end %>
								</div>
							</div> -->

						</div>
					</div>
				</div>
			</div>

						<!-- <h2>Clinic Visits</h2>
						<p>All visits include extensive history and physical assessment, initial dietary and supplement recommendations, and laboratory needs.</p>

							<h4>Initial Visit Cost:</h4>
							<p>Doctor's Office... $299</p>
							<p>Nurse Practioner... $245</p>
							<p>RN... $199</p>
						<p>Some laboratory expenses may be covered by insurance. Some may be an out of pocket expense.</p> -->

			<div class="layout-final-sec">
				<div class="container">
					<div class="membership">
						<div class="intro">
							<h4 class="lh0">enerG IV Members save big!</h4>
							<h2>Join the Club</h2>
							<h4> Choose one of our Membership Plans today. <br> So you can boost your savings as you boost your health! </h4>
						</div>
						<div class="clearfix"></div>
							<div class="mem-box">
								<h3>We'll Drip to That</h3>
								<p>Join the other enrG IV Members today, and get: </p>
								<p class="pleft"><i class="fa fa-tint"></i> Your first treatment free, every month</p>
								<p class="pleft"><i class="fa fa-tint"></i> 15% off supplements</p>
							</div>

							<div class="right">
							<div class="monthly"><h4>3 Month Plan<br> $109</h4></div>
							<div class="monthly"><h4>6 Month Plan<br> $99</h4></div>
							<div class="monthly"><h4>9 Month Plan<br> $70</h4></div>
							</div>
					</div>
				</div>

					<!-- <div class="mem-box one">
						<h3>3-month Membership</h3>
						<ul>
							<li><i class="fa fa-tint"></i> Your 1st Treatment is on Us!<br> <span>Regular Price - $149</span></li>
							<li><i class="fa fa-tint"></i> Discounts on Supplements</li>
							<li><i class="fa fa-tint"></i> Discounts on Additional IVs</li>
						</ul>
					</div>

					<div class="mem-box two">
						<h3>6-month Membership</h3>
						<ul>
							<li><i class="fa fa-tint"></i> $99/month for first IV<br> <span>Regular Price - $149</span></li>
							<li><i class="fa fa-tint"></i> Discounts on Supplements</li>
							<li><i class="fa fa-tint"></i> Discounts on Additional IVs</li>
						</ul>
					</div>

					<div class="mem-box three">
						<h3>12-month Membership</h3>
						<ul>
							<li><i class="fa fa-tint"></i> $70/month for first IV<br> <span>Regular Price - $149</span></li>
							<li><i class="fa fa-tint"></i> Discounts on Supplements</li>
							<li><i class="fa fa-tint"></i> Discounts on Additional IVs</li>
						</ul>
					</div>

					<div class="mem-box four">
						<h3>Platinum Membership</h3>
						<ul>
							<li><i class="fa fa-tint"></i> $399/month</li>
							<li><i class="fa fa-tint"></i> Up to 8 IVs per month<br> <span>Regular Price - $149 each</span></li>
							<li><i class="fa fa-tint"></i> 20% off Supplements</li>
						</ul>
					</div>
 -->
				</div>
			</div>
	</div>
</div>







