<% @page_title = "enrG+" %>
<% @page_description = "New Subject" %>

<div class="pages-wrap">
	<div class="container">
	<h3>The functional medicine side of the clinic</h3>

		It is the future of conventional medicine.

		It seeks to identify and address the root causes of disease, and views the body as one integrated system, not a collection of independent organs divided up by medical specialties.
		It treats the whole system, not just the symptoms, naturally.

		As the Co-Founder, Janet Baker says, “Our mission is to get our clients to Optimal Health through Natural means.”
	</div>
</div>




Americans know medicine as a symptom treatment model.

Since the baby boomers arrived, we’ve demanded instant gratification for everything from fast food to treating our medical needs.

Now, even millennials have gut absorption issues from the medication we’ve taken over the years.

This type of medicine is great if you just want a band aid so you can get back out and play, but to get real results for chronic conditions where patients often experience pain for months or sometimes years, you must research in places most providers aren’t even aware exist.

enrG IV offers real solutions to problems and even provides for instant gratification in most instances.

Functional medicine gets to the root cause of symptoms and chronic conditions.

Traditional medicine treats the symptoms.

If you go to your traditional provider with a history of chronic headaches, he or she will likely give you a medication to decrease your pain.

A functional medicine provider asks the question “why do you have the headaches?” and will look for the actual cause of the headache, treat the root cause to eliminate the headaches.

The latest diagnostics available have helped patients identify the root cause such as dehydration, food sensitivities, inflammation, and so on.

The goal is to stop your symptoms from occurring.

Functional medicine does not replace traditional medicine; it enhances it by treating the root cause rather than just the symptom.
