<% @page_title = "enrG+" %>
<% @page_description = "New Subject" %>
<!-- Memberships-
12 months $70.00/month for first IV + discounts off Supplements and additional IVs for the month.
6 months  $99.00/month for first IV + discounts off Supplements and additional IVs for the month.
3 months  $109.00/month for first IV + discounts off Supplements and additional IVs for the month.

Memberships- Platnum
$399.00 an month for up to 8 IVs a month + 20% off Supplements -->

<div class="plus">
	<div class="pages-wrap">
			<div class="pages-header img">
				<div class="container">
						<%= image_tag('nrg-plus.png', class: 'img-responsive logo-plus', alt: 'enrG Plus Logo') %>
				</div>
			</div>

			<div class="layout-main">
				<div class="container-fluid">
					<div class="content-box">

						<div class="top">
							<hr>
							<h4><span>enrG+</span> is the functional medicine side of our clinic.</h4>
							<hr>
						</div>

						<div class="block1">
							<p>Traditional medicine works as a symptom treatment model, providing relief for what is currently bothering us. This approach works very well as a band aid, but it doesn't supply real results for patients with long term ailments, or chronic conditions. enrG IV takes a more functional approach.</p>
						</div>

						<div class="block2">
							<p>
							Functional medicine seeks to discover the root cause of symptoms, and treat it through natural means. It views the body as one integrated system, not a collection of independent organs divided up by medical specialties. This technique results in finding connections and relationships that lead to the core problem. Functional medicine does not replace traditional medicine. It enhances it by eliminating the root cause, stopping the symptoms altogether.</p>
						</div>

						<div class="clearfix"></div>

						<div class="block3">
							<p>enrG+ offers real solutions to your health problems and, in most cases, can also provide the instant feeling of relief that you get from traditional medicine. One of the most valuable of our comprehensive functional therapies is the intravenous delivery of life enhancing nutrients and natural medicines. Intravenous (IV) therapies provide relief and healing for people with health concerns of all kinds.</p>
						</div>

						<div class="block4">
								<a data-uk-modal="{center:true}" class="modal3 link-btn" href="#clinic">
								<div class="inner">
										<!-- <%= image_tag('menu-circles.png', class: 'icon', alt: 'enrG Plus Logo') %>  -->
										<h5>View Clinic Information &amp; Costs</h5>
										</div>
									</a>
								</div>


							<div class="uk-modal" id="clinic">
							  <div class="uk-modal-dialog uk-modal-dialog-large">
							    <a class="uk-modal-close uk-close"></a>
							    <div class="content">
							    	<div class="container">
							    		<div class="left">
												<h2>Clinic Visits</h2>
												<p>All visits include extensive history and physical assessment, initial dietary and supplement recommendations, and laboratory needs.</p>

												<hr>
												<h4>Initial Visit Cost:</h4>
												<p><b>Doctor's Office</b>... $299</p>
												<p><b>Nurse Practioner</b>... $245</p>
												<p><b>RN</b>... $199</p>
												<hr>
											<p class="fine">*Some laboratory expenses may be covered by insurance.<br> Others may be out of pocket expenses.</p>
											</div>
										</div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>

				<div class="layout-final-sec">
					<div class="container">
						<div id="members" class="membership">
							<div class="intro">
								<h4 class="lh0">enerG IV Members save big!</h4>
								<h2>Join the Club</h2>
								<%= image_tag('menu-circles.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
								<h4> Choose one of our Membership Plans today,<br> and boost your savings as you boost your health! </h4>
							</div>
							<div class="clearfix"></div>
								<div class="mem-box">
									<h3>We'll Drip to That</h3>
									<div class="title-line"></div>
									<p>Join our other members, and get: </p>
									<p class="pleft"><i class="fa fa-tint"></i> Your first treatment of every month,<br><span> completely free</span></p>
									<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
								</div>

								<div class="right">
									<p>Choose a Plan:</p>
									<div class="monthly"><h4>3 Month Plan... <span>$109</span></h4></div>
									<div class="monthly"><h4>6 Month Plan... <span>$99</span></h4></div>
									<div class="monthly"><h4>9 Month Plan... <span>$70</span></h4></div>
								</div>
								<div class="clearfix"></div>

								<div class="specials-row">
										<div class="link-specials one"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#package"><span>View Our </span><br>Weight Loss Package</a></div></div>
										<div class="link-specials two"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#deal"><span>View Our </span><br>Non-Member Special</a></div></div>
								</div>
						</div>
					</div>
				</div>
	</div>
</div>

<div class="uk-modal" id="package">
  <div class="uk-modal-dialog uk-modal-dialog-large">
    <a class="uk-modal-close uk-close"></a>
    <div class="content specials">
    	<div class="container">
    		<div class="col-md-8 col-md-offset-2">
    			<h3 class="blue">Weight Loss Package</h3>
					<h4>$350 Nutritional Program</h4>
    			<div class="col-md-6"><hr></div>
    			<div class="clearfix"></div>
					<p>Fitness plan, detoxification plan with supplements</p>
					<p>4 weekly evaluations, with body composition analysis. </p>
					<p>Lipotropic energy boosting injections at each visit.</p>
    		</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-modal" id="deal">
  <div class="uk-modal-dialog uk-modal-dialog-large">
    <a class="uk-modal-close uk-close"></a>
    <div class="content specials">
    	<div class="container">
    		<div class="col-md-6 col-md-offset-3">
						<h3 class="blue">Get 4 IV’s for $429 </h3>
						<h4> No Membership Required!</h4>
    		</div>
			</div>
		</div>
	</div>
</div>




