<% @page_title = "ENRG IV Bar Orange Beach " %>
<% @page_description = "New Subject" %>

<section class="home-hero">
	<div class="bg-video gray">
    <%= video_tag "medical-ivs.mp4", width: "100%", height: "100%", autoplay: true, loop: "loop" %>
  </div>

  <div class="over-frame">
  	<h1>en<br>rG<br>IV</h1>
		<h2>Optimal Health through Natural Means</h2>
		<h3><span class="blue">Safe.</span> Powerful. <span class="blue">Innovative.</span></h3>
  </div>
</section>

<div class="faqs">
	<div class="left">
		<h3>What is IV Nutrient Therapy?</h3>
		<p>IV Nutrient Therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream, intravenously, through an IV drip.
			It is an extremely effective way to deliver nutrients straight to the cells that need them most, allowing you to rehydrate, dispel toxins, and restore balance.</p>

		<h3>Is it safe?</h3>
		<p>IV Nutrient Therapy is a safe, powerful, and innovative therapy that supports the resolution of numerous health problems, and takes you beyond the basic requirements to reach maximum vitality.</p>
	</div>

	<div class="right">
		<h3>Why Should I Drip?</h3>
		<p><span>Noted Benefits Include:</span></p>
		<ul>
			<li><span>Increased</span> Energy</li>
			<li><span>Enhanced</span> Immune Support</li>
			<li><span>Improved</span> Sports Performance</li>
			<li><span>Improved</span> Recovery From Injury or Surgery</li>
			<li><span>Weight</span> Management</li>
			<li><span>Overall</span> Sense of Well Being</li>
		</ul>
	</div>
</div>

<div class="banner">
	<div class="inner">
		<div class="banner-left">
			<div class="box">
				<h3>Get The Full</h3>
				<%= image_tag('logo-text.png', alt: 'Enrg-IV logo text - name only', class: 'img-responsive') %>
				<h3>Experience</h3>
			</div>
			<div class="clearfix"></div>
				<span>IV Lounge</span><br>
			 	<span>Oxygen Bar</span><br>
			 	<span>Hydration Med-Spa</span>
		</div>

		<div class="banner-right">
			<!-- <h4>We have drips, shots, boosters, wellness packages, and more!</h4> -->
			<h4><b>What are you waiting for?</b></h4>
			<p>Our intravenous vitamin and electrolyte cocktails contain only the purest nutrients. They are designed to help treat everything from sunburns and hangovers, to the flu and other sicknesses.
				Our staff includes medical expert​s​ who have been specially trained in IV Vitamin Therapies, making them fully equipped to provide you with the ultimate drip and drip experience.</p>

			<p>enrG-IV clients undergo brief medical screenings before settling in for their drips (typically between 20 and 60 minute sessions).</p>

			Clients pass the time in recliner chairs, private rooms, at the oxygen bar, in front of flat-screen TVs, and Internet surfing — all while enjoying amenities like signature energy cocktails (made with B-12, as well as amino acids, and enzymes).


			enrG IV offers “classics” like the Myers’ cocktail (magnesium, calcium, B and C vitamins), developed by a Baltimore doctor in the 1970s to treat issues from sinusitis to fibromyalgia.


			Amino acids can be added to stabilize moods and improve energy.
			Vitamin C IV can be infused simultaneously to encourage collagen formation.
				<!-- No co-pays, no consult fees and no waiting for appointments -->
		</div>
	</div>
</div>

