<% @page_title = "About IV Therapy" %>
<% @page_description = "New Subject" %>

	<div class="pages-wrap">
		<div class="pages-header img">
			<div class="container">
				<h1>IV Vitamin Therapy</h1>
			</div>
		</div>

		<div class="layout-main">
			<div class="inner">
				<div class="left">
					<div class="block1">
						<h4>What is IV Vitamin Therapy?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
						<p>Intravenous (IV) Vitamin Therapy is the process of administering vitamins, minerals, and other nutrients directly into the bloodstream through an IV drip. It bypasses the digestive system, and delivers the nutrients promptly to the cells where they are needed.</p>
					</div>

					<div class="block2">
						<h4>Why Does it Work?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
						<p>Because it skips digestion, intravenous delivery allows nutrients to be completely absorbed, and in most cases, the body requires less to heal. It results in faster, longer lasting relief, as the nutrients work to rehydrate, dispel toxins, and restore balance.</p>
					</div>

					<!-- <hr> -->
					<div class="clearfix"></div><br>
					<div class="block3">
						<h4>Why Should You Drip?</h4>
						<div class="title-line"></div><div class="clearfix"></div>
				 		<p>IV Vitamin Therapies effectively provide relief, healing, and recovery for people with health concerns ranging anywhere from dehydration, all the way to chronic illness. <b>Even so, it is not limited only to those who suffer from a medical condition.</b> IV therapy is useful for anyone interested in increasing health and immune functions, boosting energy levels and mood, and enhancing athletic performance. </p>
				 	</div>
				</div>
			</div>
		</div>

		<div class="pre-member">
			<div id="#members" class="container-fluid">
				<div class="sec1">
					<%= image_tag('menu-circlesblue.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
					<h2>Join the Club</h2>
					<h3>enrG IV Members save big!</h3>
					<h4>We offer 3 Month, 6 Month, and 9 Month Membership Packages. Choose a plan today, and boost your savings as you boost your health! </h4>

					<div class="monthly one"><h4>3 Month Plan:<br> <span>$109/mo.</span></h4></div>
					<div class="monthly two"><h4>6 Month Plan:<br> <span>$99/mo.</span></h4></div>
					<div class="monthly last"><h4>9 Month Plan:<br> <span>$70/mo.</span></h4></div>
				</div>


					<div class="mem-box">
						<h3>What do members get? </h3>
						<div class="title-line"></div>
						<p class="pleft"><i class="fa fa-tint"></i> The first treatment each month,<br><span> free of charge</span></p>
						<div class="title-line"></div>
						<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
						<div class="title-line"></div>
						<p><span class="print">*IV Drips regularly cost $149 </span></p>
					</div>

					<div class="specials-row">
						<div class="link-specials one"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#package"><span>View Our </span><br>Weight Loss Package</a></div></div>
						<div class="link-specials two"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#deal"><span>View Our </span><br>Non-Member Special</a></div></div>
					</div>
			</div>
		</div>

		<div class="layout-final-sec">
			<div class="container">
				<div class="content">
					<h4 class="space">
						<!-- The following list contains some of the most common reasons we see for client visits.<br> -->
						enrG IV clients seek our services for all kinds of reasons. The following list contains a few of the most common.
						Choose any item for more information on how IV therapy can help. </h4>

					<div id="accordeon" class="col-md-6">
				  	<div class="cbp-item">
					    <div class="cbp-caption first">
								<div class="cbp-caption-defaultWrap"><h4>Auto Immune Disorders</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>By intravenously administering high doses of nutrients, we can restore the immune system, even after it has been supressed by allergies, nutritional deficiencies, or other irritants.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption second">
								<div class="cbp-caption-defaultWrap"><h4>Athletes</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>A glutamine IV can enhance training and game performance, speed recovery, and restore function to lungs and muscle fibers.
										We can also use the legally compliant, natural amino acid, arginine to help produce more growth hormone. </p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption third">
								<div class="cbp-caption-defaultWrap"><h4>Cancer Patients</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>We work with patients of chemotherapy and radiation, to help their immune system recover from the toxic side effects.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption fourth">
								<div class="cbp-caption-defaultWrap"><h4>Detoxification</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients with heavy metal toxicity and fibromyalgia can benefit from intravenous vitamins and minerals. Detox is also a great way to kick start a weight loss program.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="solo" class="col-md-6">
				  	<div class="cbp-item">

					    <div class="cbp-caption fifth">
								<div class="cbp-caption-defaultWrap"><h4>Neurological Condition</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients who suffer from neurological conditions can benefit significantly from glutathione IV's. Glutathione increases dopamine levels, and improves motor function.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption sixth">
								<div class="cbp-caption-defaultWrap"><h4>Asthma</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Administering magnesium through an IV can reduce inflammatory effects from asthma, offering long-term relief.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption seventh">
								<div class="cbp-caption-defaultWrap"><h4>Diabetes</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>Patients experiencing diabetes-linked neuropathy have had feeling return to limbs and better regulation of insulin with the administration of Alpha Lipoic Acid, a naturally occurring antioxidant.</p>
									</div>
								</div>
							</div>

					    <div class="cbp-caption eighth">
								<div class="cbp-caption-defaultWrap"><h4>Fibromyalgia</h4></div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-body">
										<p>enrG IV can help ease the pain from Fibromyalgia. Amino acids help with muscle recovery, and rebuild muscle tissue. Amino Acids in your drip can ease your endless aching.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="uk-modal" id="package">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
    <div class="content specials">
    			<h3 class="blue">Weight Loss Package</h3>
					<h4>$350 Nutritional Program</h4>
    			<div class="col-md-6"><hr></div>
    			<div class="clearfix"></div>
					<p>Fitness plan, detoxification plan with supplements</p>
					<p>4 weekly evaluations, with body composition analysis. </p>
					<p>Lipotropic enrgy boosting injections at each visit.</p>
		</div>
	</div>
</div>

<div class="uk-modal" id="deal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"><i class="fa fa-close"></i></a>
    <div class="content specials">
			<h3 class="blue">Get 4 IV’s for $429 </h3>
			<h4> No Membership Required!</h4>
			<p><span>*IV Drips regularly cost $149 each. </span></p>
			<hr><div class="clearfix"></div>
			<%= link_to "View Our IV Menu", menu_path, class: 'modal-link' %>
		</div>
	</div>
</div>
