<% @page_title = "enrG-IV Menu" %>
<% @page_description = "New Subject" %>

<!-- <div class="pages-wrap"> -->
	<div class="pages-header blue">
		<div class="container">
			<h1>IV Therapy Menu</h1>
		</div>
	</div>
<!--
IV pricing 149.00
member 99.00
boost shots $25.00 -->

<!-- Amino acids can be added to stabilize moods and improve energy.  Vitamin C IV can be infused simultaneously to encourage collagen formation as well. -->

<!-- ADD ON IV:  Glutathione
enrG B12 Boost
Mega Weight Loss Boost
Mini Weight Loss Boost
Oxygen Bar -->


	<div class="treatment-content">
		<div class="container">
      <div id="accordeon">
        <div class="cbp-item">
          <div class="cbp-caption first">
						<div class="cbp-caption-defaultWrap">
							<h3>Princess Again</h3>
							<h4>Beauty &amp; Anti-aging</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p>Wrinkles, blemishes, acne, dry skin, and other signs of premature aging can all be improved with adequate hydration. Topical skin care products are also more effective when your skin is well hydrated from the inside out. At enrG IV we can help turn back time and ensure your skin gets the hydration it needs to look its best</p>
								<p><span>•	1L normal saline, b-complex, magnesium, vitamin c</span></p>
							</div>
						</div>
					</div>

          <div class="cbp-caption second">
              <div class="cbp-caption-defaultWrap">
								<h3>I FEEEEEEL GOOD</h3>
								<h4>Health &amp; Wellness</h4>
              </div>

              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
										<p>On average, only 20% of even the best multi-vitamins and supplements are being absorbed into your body when taken orally. Adding a regular regimen of IV nutrient therapy at enrG IV, is a great way to maintain good health and can help prevent dehydration and vitamin-deficiency.</p>
										<p><span>•	1L normal saline, vitamin c, b-complex, magnesium, amino acids</span></p>
                  </div>
              </div>
          </div>

          <div class="cbp-caption third">
  			    <div class="cbp-caption-defaultWrap">
  						<h3>Warm &amp; Sunny</h3>
  						<h4>Cold &amp; Flu</h4>
  					</div>
  					<div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
  								<p>It is no surprise that your body needs an increase of fluids when you are feeling under the weather. enrG IV can shorten the duration of an illness. Come visit us at the onset of symptoms or anytime you are not feeling your best.</p>
  								<p><span>•	1L normal saline, vitamin c, zinc, magnesium</span></p>
  						</div>
  					</div>
  				</div>

					<div class="cbp-caption fourth">
						<div class="cbp-caption-defaultWrap">
							<h3>Sweet Home Alabama</h3>
							<h4>Jet Lag &amp; Fatigue</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>While traveling, normal habits like sleeping, eating, drinking, and physical activity are altered. In addition, airplanes recirculate air and dehumidify their cabins. One of the first signs of dehydration is fatigue which happens with or without travel. Visit enrG IV to refill your body’s tank.</p>
								<p><span>•	1L normal saline, b-complex, vitamin c  *Add a b12 injection for only $20!</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption fifth">
					 	<div class="cbp-caption-defaultWrap">
							<h3>Elephant Stomper/Tiger Killer</h3>
							<h4>Athletic Performance</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>Weekend warriors, yogis, and athletes of all kinds use IV therapy to perform better and recover faster. enrG IV’s services are not exclusive to professional or extreme athletes and can be used pre and post activity. Avoid cramping and achieve new personal bests.</p>
								<p><span>•	1L normal saline, b-complex, magnesium, amino acids</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>

      <div id="solo">
      	<div class="cbp-item">
					<div class="cbp-caption sixth">
						<div class="cbp-caption-defaultWrap">
							<h3>I'm Never Drinking Again</h3>
							<h4>Over Indulgence</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>We do not encourage the overconsumption of alcohol, but we do know it happens from time to time. Don’t let a night of overindulgence ruin your weekend, vacation, or early meeting the following day. Hangovers can produce headaches, nausea, and diarrhea. The use of IV therapy at enrG IV can eliminate these symptoms and expedite the recovery process.</p>
								<p><span>•	1L normal saline, b-complex, Zofran</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption seventh">
						<div class="cbp-caption-defaultWrap">
							<h3>The Sky's the Limit</h3>
							<h4>Immune Support</h4>
						</div>
						<div class="cbp-caption-activeWrap">
	            <div class="cbp-l-caption-body">
								<p>This IV may be a boost to your immune system if you suffer from a chronic illness and need some extra support, or are looking for an easy way to enhance your energy, this IV is a great place to start.</p>
								<p><span>It is a comprehensive infusion of some of the key cellular ingredients needed for optimal energy and a healthy immune system. It provides powerful antioxidants such as vitamin C as well as all the B vitamins which rev-up your metabolic processes, enhance energy production, promote neurotransmitter production, and manage methylation.
								Minerals such as zinc, selenium and magnesium are also included due to their crucial role as co-factors (necessary helpers) for hundreds of metabolic reactions throughout the body. They are involved in DNA replication, messaging, immune function, hormone synthesis and energy production to name just a few.</span></p>
							</div>
						</div>
					</div>

					<div class="cbp-caption eighth">
						<div class="cbp-caption-defaultWrap">
							<h3>I’ll have what she’s having</h3>
							<h4>Libido Support for Women</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body"></div>
						</div>
					</div>

					<div class="cbp-caption ninth">
						<div class="cbp-caption-defaultWrap">
							<h3>The all nighter</h3>
							<h4>Libido Support for Men</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body"></div>
						</div>
					</div>

					<div class="cbp-caption tenth">
						<div class="cbp-caption-defaultWrap">
							<h3>Add Glutathione to any IV</h3>
							<h4>Detox, anti-aging</h4>
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-body">
								<p>Glutathione is the “master” antioxidant. It neutralizes free radicals such as superoxide and reactive oxygen species (ROS) like hydroxy radicals, peroxynitrites, and hydroperoxides, all of which are byproducts of oxygen metabolism in the mitochondria.</p>
								<p>Free radicals and ROS can cause damage to DNA, proteins and cell membranes altering their function, causing mutations and may be implicated in chronic illnesses like cancer or heart disease. Glutathione renders these molecules inert, protecting you from their destructive effects.
								Detoxification is another major function of glutathione. GSH attaches to substances like heavy metals and xenobiotics—molecules that need to be excreted—forming “conjugates” that make them easier to be eliminated by the liver via bile and the kidneys via urine.</p>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
	</div>
