<% @page_title = "IV Menu" %>
<% @page_description = "New Subject" %>

<div class="pages-wrap">
	<div class="pages-header ">
		<div class="container">
			<h1>Signature Cocktails</h1>
			<!-- <h1>enrG IV Menu</h1> -->
		</div>
	</div>

	<div class="treatment-content">
		<div class="container-fluid no-padding-xs">
			<div class="direct">
				<p><span>Select</span> any option from the menu below for more information.</p>
			</div>
			<%= render 'static_pages/cocktails'%>

      <div class="sidebar">
	      	<div id="prices" class="pricing">
						<%= image_tag('menu-circlesblue.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
						<h4>IV Drips...<br class="md-br"> <span>$149</span></h4>
						<h4>B12 Boost Shot...<br class="md-br"> <span>$25</span></h4>
						<h4>Mega Weight Loss...<br class="md-br"> <span>$35</span></h4>
						<h4>Mini Weight Loss...<br class="md-br"> <span>$25</span></h4>
						<h4>Oxygen... <br class="md-br"><span>$20/ 20 min.<br>Additional $1/min.</span></h4>
					</div>

					<div class="platform">
						<h4>Come in &amp; try our<br> <span>Vibration Platform</span><br> $10/mo. - Unlimited use.</h4>
						<p> Ask about pricing for your own Vibration Platform!</p>
					</div>

					<div class="plan">
						<div class="side-link">
						<!-- <a data-uk-modal="{center:true}" class="modal3 side-link" href="#members"> -->
							<div class="inner">
								<p>Look Below For Our</p> <h3>Membership Plans</h3>
							</div>
						</div>
						<!-- </a> -->
					</div>

				 	<div class="nonmember">
					 	<h4>Non-Member Special</h4>
					 	<div class="title-line"></div>
				 		<h3>Get 4 IV’s for $429 </h3>
				 		<p><b>No Membership Required!</b></p>
				 	</div>

					<div id="add" class="add-ons">
						<h3>Add to any IV:</h3>
					 	<div class="title-line"></div>
						<div id="accordeon" class="col-md-12">
					  	<div class="cbp-item">
						    <div class="cbp-caption first">
									<div class="cbp-caption-defaultWrap">
										<h4>Glutathione<br>
											<span>Major functions include neutralizing free radicals, detoxification, and anti-aging.</span>
										</h4>
										<p>Click to See More</p>
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-body">

											<p><b>Neutralizing free radicals:</b><br> (such as superoxide and reactive oxygen species (ROS), like hydroxy radicals, peroxynitrites, and hydroperoxides), all of which are byproducts of oxygen metabolism in the mitochondria.
											</p>

											<p><b>Detoxification:</b><br> GSH attaches to substances like heavy metals and xenobiotics—molecules that need to be excreted. It forms “conjugates” for easier elimination -- by the liver via bile, and the kidneys via urine.
											</p>

											<p><b>Skin:</b><br> The anti-aging effects of Glutathione are remarkable, from complexion, age spots and wrinkles, there is very little that won’t benefit from this master antioxidant.
											</p>

											<p>*Free radicals and ROS can cause damage to DNA, proteins and cell membranes altering their function, causing mutations and may be implicated in chronic illnesses like cancer or heart disease. Glutathione renders these molecules inert, protecting you from their destructive effects.</p>
										</div>
									</div>
								</div>
								<h4 class="noborder">Vitamin C IV<br><span> can be simultaneously infused to encourage collagen formation.</span></h4>
							</div>
						</div>
					</div>
      </div>
		</div>
	</div>

    <div id="members">
      <div class="content">
      	<div class="container">
	      	<div class="col-md-7">
		      	<div class="sec1">
		      		<%= image_tag('menu-circlesblue.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
		      		<h2>Join the Club</h2>
		      		<h3>enrG IV Members save big!</h3>
		      		<h4>We offer <b>3 Month</b>, <b>6 Month</b>, and <b>12 Month</b> Membership Packages.<br> Choose a plan today, and boost your savings as you boost your health! </h4>
		      		<div class="title-line"></div>
		      	<!-- </div> -->

		      	<div class="monthly one"><h4>3 Month:<br> <span>$109/mo.</span></h4></div>
		      	<div class="monthly two"><h4>6 Month:<br> <span>$99/mo.</span></h4></div>
		      	<div class="monthly last"><h4>12 Month:<br> <span>$69/mo.</span></h4></div>
		     	</div></div>

	      	<div class="col-md-4">
		      	<div class="mem-box">
		      		<h3>What do members get? </h3>
		      		<div class="title-line"></div>
		      		<p class="pleft"><i class="fa fa-tint"></i> The first treatment each month,<br><span> free of charge</span></p>
		      		<div class="title-line"></div>
		      		<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
		      		<div class="title-line"></div>
		      		<p><span class="print">*IV Drips regularly cost $149 </span></p>
		      	</div>
		      </div>
		    </div>
	    </div>
		</div>

</div>

