<% @page_title = "IV Menu" %>
<% @page_description = "New Subject" %>

<div class="pages-wrap">
	<div class="pages-header img">
		<div class="container">
			<h1>enrG Signature IV Cocktails</h1>
		</div>
	</div>
		<!--
		IV pricing 149.00
		boost shots $25.00 -->

		<!-- Amino acids can be added to stabilize moods and improve energy.
		Vitamin C IV can be infused simultaneously to encourage collagen formation as well. -->

		<!-- ADD ON IV:
		Glutathione
		enrG B12 Boost
		Mega Weight Loss Boost
		Mini Weight Loss Boost
		Oxygen Bar
		Vibration Machine -->







	<div class="treatment-content">
		<div class="container-fluid">
		<!-- <div class="container-fluid pright-0"> -->
				<ul class="ch-grid">
					<li>
						<div class="ch-item hangover">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Over Indulgence</h4>
										<h3>Never Again</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>1L normal saline, b-complex, Zofran</span></p>
									</div>
									<div class="ch-info-back">
										<p>Don't let a night of fun keep you in bed for days after. Visit us for some IV hangover therapy. enrG IV can help you rehydrate, and eliminate the hangover symptoms that end your day before it starts.</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item beauty">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Beauty &amp; Anti-aging</h4>
										<h3>Princess Again</h3>
										<hr>
										<p><span><i class="fa fa-tint"></i>1L normal saline, b-complex, magnesium, vitamin c</span></p>
									</div>
									<div class="ch-info-back">
										<p>Hydration is the key to youthful skin. Our anti-aging drip can improve dry skin, blemishes, and signs of aging, and help restore that healthy glow you want. Maybe our laugh lines and frown lines help tell our story, but we'd rather remain mysterious!</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item wellness">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Health &amp; Wellness</h4>
										<h3>I Feeeeeel Good</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>1L normal saline, vitamin c, b-complex, magnesium, amino acids</span></p>
									</div>
									<div class="ch-info-back">
										<p>
										<!-- It takes time and planning to maintain a healthy lifestyle. Since it isn't easy, -->
										Because maintaining a healthy lifestyle isn't easy,
										 we want all of our attempts to be effective. Even the best multi-vitamins and supplements only average about 20% absorption when taken orally. IV therapy is a great way to keep up your health and stay hydrated, with maximum vitamin absorption.</p>

									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item flu">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Cold &amp; Flu</h4>
										<h3>Get Over It</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>1L normal saline, vitamin c, zinc, magnesium</span></p>
									</div>
									<div class="ch-info-back">
										<p>No one wants to feel cold and stuffy at the beach! enrG IV has a drip that will help you drop that sickness. Come see us, and we'll get your toes back in the sand in no time! </p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item fatigue">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Fatigue &amp; Jet Lag</h4>
										<h3>Myers Cocktail</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>1L normal saline, b-complex, vitamin c, magnesium</span></p>
									</div>
									<div class="ch-info-back">
										<p>Traveling adds stress to the body, often altering routines in an unhealthy way. You can't enjoy our beautiful beaches if your body feels dehydrated and fatigued. enrG IV has the drip that will refill your tank! </p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item sports">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Athletic Performance</h4>
										<h3>Elephant Stomper/<br>Tiger Killer</h3>
										<hr>
										<p><span>	<i class="fa fa-tint"></i>1L normal saline, b-complex, magnesium, amino acids</span></p>
									</div>
									<div class="ch-info-back">
										<p>enrG IV can help you enhance your performance, and speed up your recovery. Adequate hydration and nutrients make it possible to keep pushing yourself and improving.</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item immune">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Immune Support</h4>
										<h3>Vim &amp; Vigor</h3>
										<hr>
										<p><span><i class="fa fa-tint"></i>
											Vitamin C, b-complex, and other powerful minerals and antioxidants
											<!-- Vitamin C, b-complex, and other powerful antioxidants, and minerals crucial to hundreds of metabolic reations throughout the body (zinc, selenium, and magnesium) -->
										</span></p>
									</div>
									<div class="ch-info-back">
										<p>If you suffer from chronic illness, and need extra support, or if you just want a quick way to boost your energy and/or immune system, you found it!</p>
										<p>We use minerals crucial to hundreds of metabolic reations throughout the body (zinc, selenium, and magnesium)</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item women">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Libido Support for Women</h4>
										<h3>I’ll Have What She’s Having</h3>
										<hr>
										<p><span><i class="fa fa-tint"></i>B-complex, Amino Acids + ask about our secret ingredient</span></p>
									</div>
									<div class="ch-info-back">
										<p>You get it.</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="ch-item men">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img">
										<h4>Libido Support for Men</h4>
										<h3>The All-Nighter</h3>
										<hr>
										<p><span><i class="fa fa-tint"></i>B-complex, Amino Acids + ask about our secret ingredient</span></p>
									</div>
									<div class="ch-info-back">
										<p>You get it.</p>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- <li>
						<div class="ch-item detox">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-10">
										<h4>Detox, anti-aging</h4>
										<h3>Add Glutathione to Any IV</h3>
										<hr>
										<p>Glutathione is the “master” antioxidant.</p>
									</div>
									<div class="ch-info-back">
										<p>Major functions include:

											-- Neutralizing free radicals (such as superoxide and reactive oxygen species (ROS), like hydroxy radicals, peroxynitrites, and hydroperoxides), all of which are byproducts of oxygen metabolism in the mitochondria.

											-- Detoxification: GSH attaches to substances like heavy metals and xenobiotics—molecules that need to be excreted. It forms “conjugates” for easier elimination -- by the liver via bile, and the kidneys via urine.

											-- Skin: The anti-aging effects of Glutathione are remarkable, from complexion, age spots and wrinkles, there is very little that won’t benefit from this master antioxidant.
										</p>

										<p>*Free radicals and ROS can cause damage to DNA, proteins and cell membranes altering their function, causing mutations and may be implicated in chronic illnesses like cancer or heart disease. Glutathione renders these molecules inert, protecting you from their destructive effects.</p>
									</div>
								</div>
							</div>
						</div>
					</li> -->
				</ul>


	      <div class="sidebar">
	      	<div class="pricing">
						<!-- <h3>Pricing:</h3> -->
						<h3>IV Drips... <span>$149</span></h3>
						<h3>Boost Shots... <span>$25</span></h3>

						<%= link_to "/iv-therapy#members", class: 'side-link' do %>
							<p>Check Out Our</p> <h3>Membership Plans</h3>
						<% end %>
					</div>

					<div class="border"></div>

					<div class="add-ons">
						<h3>Add to any IV:</h3>
						<h4>Glutathione</h4>
						<h4>enrG B12 Boost</h4>
						<h4>Mega Weight Loss Boost</h4>
						<h4>Mini Weight Loss Boost</h4>
						<h4>Oxygen</h4>
						<h4>Amino acids<br><span> can be added to stabilize moods and improve energy.</span></h4>
						<h4>Vitamin C IV<br><span> can be simultaneously infused to encourage collagen formation.</span></h4>
					</div>
	      </div>


		</div>
	</div>
</div>


