<div class="layout-main mid">
	<div class="inside">
			<div class="left">
				<h2>Why Drip With Us?</h2>
				<div class="block1">
					<h4>The enrG IV Medical Staff</h4>
					<div class="title-line"></div><div class="clearfix"></div>
					<p>Our team includes medical expert​s​ who have been specially trained in IV Vitamin Therapies. Their unique understanding and advanced knowledge helps our clients find the perfect therapy to fit their needs. enrG IV doctors and nurses are well-equipped to supply you with the ultimate drip experience.</p>
				</div>

				<div class="block2">
					<h4>The enrG IV Experience</h4>
					<div class="title-line"></div><div class="clearfix"></div>
					<p>enrG IV drips generally last between 20 and 60 minutes. Clients undergo a brief medical screening, then settle in for the mixture of their choice. Our signature vitamin and electrolyte cocktails contain only the purest nutrients, and you can enjoy them as you relax in our lounge, in the comfort of a private room, or at our oxygen bar!</p>
				</div>
			</div>

			<div class="right">
				<!-- <%= image_tag('nacl.png', class: 'img-responsive') %>  -->
				<div class="box">
					<h4>Our Signature IV Therapies include: </h4>
					<p>Beauty &amp; Anti-aging</p>
					<p>Health &amp; Wellness</p>
					<p>Fatigue &amp; Jet Lag</p>
					<p>Athletic Performance</p>
					<p>Hangover Relief</p>
					<p>Immune Support</p>
					<p>Libido Support</p>
					<p>Detox</p>
					<div class="clearfix"></div>
					<%= link_to "View Our Menu", menu_path, class: 'link-def' %>
				</div>
			</div>
	</div>
</div>



<div class="layout-final-sec">
	<div class="container">
		<div id="members" class="membership">
			<div class="intro">
				<h4 class="lh0">enrG IV Members save big!</h4>
				<h2>Join the Club</h2>
				<%= image_tag('menu-circles.png', class: 'img-responsive icon', alt: 'enrG Plus Logo') %>
				<h4> Choose one of our Membership Plans today,<br> and boost your savings as you boost your health! </h4>
			</div>
			<div class="clearfix"></div>
				<div class="mem-box">
					<h3>We'll Drip to That</h3>
					<div class="title-line"></div>
					<p>Join our other members, and get: </p>
					<p class="pleft"><i class="fa fa-tint"></i> Your first treatment of every month,<br><span> completely free</span></p>
					<p class="pleft"><i class="fa fa-tint"></i> 15% off all supplements</p>
				</div>

				<div class="right">
					<p>Choose a Plan:</p>
					<div class="monthly"><h4>3 Month Plan... <span>$109</span></h4></div>
					<div class="monthly"><h4>6 Month Plan... <span>$99</span></h4></div>
					<div class="monthly"><h4>9 Month Plan... <span>$70</span></h4></div>
				</div>
				<div class="clearfix"></div>

				<div class="specials-row">
						<div class="link-specials one"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#package"><span>View Our </span><br>Weight Loss Package</a></div></div>
						<div class="link-specials two"><div class="in"><a data-uk-modal="{center:true}" class="modal3 spec" href="#deal"><span>View Our </span><br>Non-Member Special</a></div></div>
				</div>
		</div>
	</div>
</div>


<div class="uk-modal" id="package">
  <div class="uk-modal-dialog uk-modal-dialog-large">
    <a class="uk-modal-close uk-close"></a>
    <div class="content specials">
    	<div class="container">
    		<div class="col-md-8 col-md-offset-2">
    			<h3 class="blue">Weight Loss Package</h3>
					<h4>$350 Nutritional Program</h4>
    			<div class="col-md-6"><hr></div>
    			<div class="clearfix"></div>
					<p>Fitness plan, detoxification plan with supplements</p>
					<p>4 weekly evaluations, with body composition analysis. </p>
					<p>Lipotropic enrgy boosting injections at each visit.</p>
    		</div>
			</div>
		</div>
	</div>
</div>

<div class="uk-modal" id="deal">
  <div class="uk-modal-dialog uk-modal-dialog-large">
    <a class="uk-modal-close uk-close"></a>
    <div class="content specials">
    	<div class="container">
    		<div class="col-md-6 col-md-offset-3">
						<h3 class="blue">Get 4 IV’s for $429 </h3>
						<h4> No Membership Required!</h4>
    		</div>
			</div>
		</div>
	</div>
</div>

