<% @page_title = "Our Staff" %>
<% @page_description = "enrG+ is the functional medicine side of our clinic. Our staff includes licensed, medical professionals, and leaders in the IV Therapy industry. " %>


<div class="pages-wrap">

	<div class="pages-header">
		<div class="container">
			<h1>Our Staff</h1>
		</div>
	</div>


	<div class="full-section">
		<div class="container">
			<div class="col-md-8 no-padding col-md-offset-2 text-center">
				<p><b>enrG IV has a full staff of licensed, medical professionals.</b> Our team includes expert​s​ who have been specially trained in IV Vitamin Therapies and Functional Medicine. Pictures coming soon!</p>
				<div class="title-line"></div>
			</div>
			<div class="clearfix"></div>

			<div class="row doctor">
					<!-- <div class="col-md-4 no-padding">
						<%=image_tag('staff1.jpg', class: 'img-responsive', alt: 'Dr. Jun Yoo, Chief Medical Director') %>
					</div> -->

					<div class="col-md-10 bio">
						<h3>Meet Our Doctor</h3>
						<p>Dr. Jun Yoo, D.O., is the Chief Medical Director of enrG+, LLC, and enrG IV. Dr. Yoo grew up in Central California, and received his Biology Degree from California State University, with a minor in Chemistry. He continued to earn his Doctor of Osteopathy from Midwestern University, Arizona College of Osteopathic Medicine.</p>

						<p>As he moved East, Dr. Yoo became Chief Resident at Sacred Heart Internal Medicine, in Pensacola, Florida. Along with his position as Chief Medical Director of enrG+, LLC and enrG IV, Dr. Yoo is also the Doctor of Internal Medicine at West Florida Hospital in Pensacola.</p>
					</div>
			</div>
		</div>
	</div>

	<div class="med-link">
		<div class="container">
			<h3><%= link_to "Click Here to Learn More About Functional Medicine", enrg_plus_path %></h3>
		</div>
	</div>
</div>
