$black: #000;
$white: #fff;
$light: #ececec;
$gray: #454545;
$offwhite: #f5f4f4;
$font: #696969;

// $blue: #24d5e6;
$blue: #44c4db;
$lt-blue:#7be5f0;
$comp: #2474e6;
$comp2: #26c4f4;
$teal: #44dba7;
$yellow: #FFDB19;

$bt: #c3c3c3;

$padd: 60px 0;
$full-padd: 80px;

$open: 'Open Sans', sans-serif;
$lora: 'Lora', serif;
$karla: 'Karla', sans-serif;
