@import "mixins";
@import "variables";



header {@include sec-default(); height:100px; background-color: $white;}

.book-bar {@include sec-default(); background-color: $blue; padding:7px 5px 5px; @include ease();
    ul.social {margin-bottom: 0; display: inline-block;
        li {display: inline-block;font-size: 17px; padding-left: 10px; i {color: $white;  @include tshadowl($gray);}}
    }
    br.xs {display: none;}

    &.reg h4, h4 a {display: inline-block; margin: 0 15px; color: $white; font-weight: bold; @include tshadowl($gray);
        .contact-info {width:80%; float: right; }
        &.wiw {color: $comp; @include tshadowl(rgba($gray, .3));}
    }

    .contact-info { width:60%; float:right}
    .block {display: inline-block; margin: 0 15px;
       h4, a {color: $white; font-weight: bold; font-size: 17px;}
       h4.wiw span {color: $gray;}
        // &.wiw {color: $comp; @include tshadowl(rgba($gray, .3));}
    }

}

#nav {
    background-color: $white;
    position: relative;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 555;
    padding-bottom: 10px;

    .logo-block {display: inline-block;float: left; }
    .logo {@include ease2(); width: 260px; padding:8px 0 0;}

    nav { display: inline-block; float: right;
        ul.megamenu-parent {margin-top:55px}
        li  {
            color: $black;
            display: inline-block;
            margin-right: 30px;
            font-size: 17px;
            text-transform: uppercase;
            &:last-child{margin-right: 0;}

            a {color: $black; text-transform: uppercase;}
            &:hover a{color: $blue}



            .dropdown{width:auto;margin:0;margin-top:-1px;position:absolute;z-index:999;display:none; background-color: lighten($lt-blue, 25%); padding: 15px 0;

                li.menu-item{margin-left:10px; display:block; padding:0;position:relative; @include sec-default(); line-height: 2em;
                    a{color: $black; }
                    &:hover a{color: $blue}
                }
            }
            &.has-child:hover >.dropdown{display:block; width:175px}
        }
    }

    &.stuck {
        background: $white;
        padding-bottom: 5px;
        border-bottom: 0;
        box-shadow: 0 1px 33px rgba(26, 37, 46, .1), inset 0 1px 0 hsla(0, 0%, 100%, .35);
    }

    &.stick {
        position: fixed;
    }
    @include bp(sm) {
        position: fixed;
    }
}

#offcanvas-toggler {
    width: 35px;
    float:right;
    margin-top: 25px;
    background-color:$blue;
    padding: 6px 0 2px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $white;
    margin-right:10%;
    // border: 1px solid rgba($gray, .5);
    display:none;

    h4 {color:$white; line-height:2em; padding-top:10px; }
    h4:hover {color:$black; text-decoration:none; }

    span {
        content: '';
        @include center-block ();
        display: block;
        margin-bottom: 4px;
        width: 20px;
        height: 2px;
        border-radius: 4px;
        background-color: $white;
        // border: 1px solid rgba($black, .1);
    }
}
.offcanvas-menu .offcanvas-inner .module ul > li > a:hover{color:$white;}
.offcanvas-menu .offcanvas-inner .module .menu .nav-child a{padding:4px 25px}
.offcanvas-menu .menu ul li{position:relative}

.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:$white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}

.offcanvas-menu{width:240px; height:100%; background:darken($blue, 10%); color:$white; position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;
    .offcanvas-inner{padding:20px;}
    .module{margin-top:20px;
        ul{margin:0 0 0 -20px;
            li { margin-bottom:15px; padding-bottom:5px; padding-left: 15px; border-bottom:1px solid rgba($white, .4);
                a { -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:7px 0; padding-left:0px; color: $white; font-size: 16px; line-height: 1.5em;}
                // a:hover{background:transparent;}
                &:first-child{margin-top:0}
                &.has-child{ font-size: 14px; color: #333; margin-left: 15px;}
                .dropdown li:last-child{border-bottom:none;}
            }
        }
    }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba($black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: $white;}
.menu .nav-child.small{font-size:inherit}



@include bp(dt) {
    header {height:120px; }
}


@include bp(tb) {
    .book-bar {
        .contact-info { width:90%; @include center-block();}
        .block { margin: 0 10px;
            &.three {float: right; }
        }
    }

    #nav {
        nav{
            li a {font-size: 16px;}
        }
    }
}

@include bp(md) {
    #nav{
        .logo{width:185px; padding-top: 25px}
        nav li {margin-right: 15px;}
    }

    .book-bar {
        .contact-info { @include sec-default(); padding: 0 10px}
        .block{ margin: 0 5px;
            h4, a {font-size: 16px;}
        }
    }
}

@include bp(pl) {
    header {height:75px; }
    #offcanvas-toggler { display:inline-block; }
    #nav {
        nav {display: none;}

        .logo{width:150px; margin-left: 10%; padding-top: 4px;}
        #offcanvas-toggler {margin-top: 15px;}

        &.stuck {
        }

    }
    .book-bar {
        .contact-info { @include sec-default(); padding: 0 5px}
        .block {
            h4 {font-size: 15px; }
            &.one, &.two{ margin: 0 2px;}
        }
        ul.social li a{font-size: 15px;
            i {text-shadow: none;}
        }
    }
    .sm-pad {padding:0 30px}
}

@include bp(ph) {
    .book-bar {padding:10px 0;text-align: center;
        .block {
            h4 {margin: 0;}
            &.one, &.two{ margin: 0 2px;}
            &.three {@include sec-default(); margin-top: 5px}
        }
        ul.social li a{font-size: 15px;
            i {text-shadow: none;}
        }
    }
}
@include bp(sm) {
    .book-bar{
        br.xs {display: block;}
    }


}


