// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
@import "variables";

// ::selection{background-color: $comp;}

.pages-header{
	@include sec-default();
	@include sec-bgimage();
	padding: 40px 0;

	h1 {font-size: 45px;font-weight: bold; color: $white;text-transform: uppercase;}
	&.img {background-image: url(image_path('rolling.jpg')); background-position: bottom right; position: relative;z-index: 0;
		&::before {@include before(); background-color: rgba($white, .3);}
	}
	&.blue {
		background-color: $blue;
	}
}

.uk-modal-close i {margin:10px 10px 0 0; font-size: 16px;}

.pages-wrap{width: 95%; @include center-block();}
.title-line {width: 50px; height: 1px; background-color: rgba($gray, .5); margin: 8px 0 15px;}
.link-def {@include sec-default(); background-color: $blue; padding: 7px 10px; margin-top: 7px; color:$white; font-size: 16px; font-weight: bold; text-transform: uppercase;}


.logo-plus { width:35%; @include center-block();}
.layout-main {@include sec-default(); padding: 30px 50px; background-color: $offwhite;
		.top {@include sec-default();}
		h4 {text-transform: uppercase;text-align: center;
			span{text-transform: none; font-weight: bold; color: $blue;}
		}
		hr {border-top: 1px solid rgba($gray, .15);}

		.block1, .block2 {display: inline-block; float: left; width: 49%; padding: 15px 5px 0 15px; }
		.block2 {float: right;}
		.left, .right {width: 52%; float: left; display: inline-block; padding: 0 15px;}
		.right { width: 46%; float: right; padding: 20px 30px;}
}
.layout-final-sec {@include sec-default();background-color: $blue; padding: $padd;
	.block1, .block2, .block3 {display: inline-block; float: left; width: 30%; padding: 5px 20px; color:$white;}
	.block2, .block3 {background-color: $white; padding: 15px;  border-top-right-radius: 50px; border-bottom-left-radius: 50px;
		.inner {@include sec-default(); border: 1px solid $white; padding: 15px; text-align: center;height:175px; border-top-right-radius: 50px; border-bottom-left-radius: 50px;}
		.link { @include sec-default(); color: $white; font-weight: bold; margin-top: 15%; font-size: 20px; @include ease2();
			&.light{color: $gray;}
			&:hover {color: $blue}
		}
	}
	.block2{margin-left: 4%; .inner {border: 1px solid $gray; }}
	.block3 {background-color: $gray; float: right;}
}

img.icon { width:10%; @include center-block();}
.blue-block{ @include sec-default(); background-color: $blue; padding: 5px 0;
	h2, h3 {color: $white; }
}

.drip {display: inline-block; float: none; margin:10px 0 10px 10px; width: 30%; height: 110px; text-align: center; @include sec-bgimage(); position: relative;z-index: 0;
	&::before{@include before(); background-color: rgba($black, .45);}
	p{font-size: 20px; font-weight: bold; color: $white; @include tshadow($gray); margin-top: 16%;}

	&.age {background-image: url(image_path('drips/age.jpg'));}
	&.health {background-image: url(image_path('drips/vitamin.jpg'));}
	&.lag {background-image: url(image_path('drips/fatigue.jpg'));}
	&.ath {background-image: url(image_path('drips/ath.jpg'));}
	&.immune {background-image: url(image_path('drips/immune.jpg')); background-position: center center;}
	&.hangover {background-image: url(image_path('drips/tired.jpg'));}
	&.libido {background-image: url(image_path('drips/libido3.jpg'));}
	&.detox {background-image: url(image_path('drips/detox.jpg'));}
	&.full {background-color: $comp; &::before {display: none;}}
}

.home { background-color: $white;
	header {height: auto;}

	.home-hero{@include sec-default(); padding: 100px;
	 // position: relative; z-index: 0;
		&.hero-img {@include sec-bgimage(); background-image: url(image_path('jump-pool.jpg'));}
		// &::before {@include before(); background-color: rgba($black, .2);}

		.bg-video {@include sec-default(); position: relative; z-index: 0;
			&.gray{@include grayscale(); }
		}

		.title-block {width: 45%; float: right; margin-top: 15%; }
		h1, h2, h3 {font-weight: bold;@include tshadowl(rgba($black, .3));}
		h2 { margin-bottom: 0;}
		h3 {font-size: 22px;}
		h1 {color: $white; @include tshadow($black); line-height: 1em; margin-top: 0; font-size: 80px;
				span {font-size: 120px; letter-spacing: 10px; margin-left: 30px;}
		}
		.img-responsive {width: 340px; margin-left: 20px;}
	}

	.faqs-sec {@include sec-default();background-color: $offwhite; padding: 25px 0 40px;
		.top {@include center-block(); width:80%; text-align: center;}
		p.sub {font-size:20px; margin-top:25px; b{color: $blue; font-weight: bold;}
			span{color: $black; font-weight: bold;}}
		.inner { background-color: transparent;
			@include center-block(); width:75%; }

		.faq-box {display: inline-block;float: left; background-color: $white; padding: 10px 30px; margin-bottom: 15px;
			width: 30%; height:430px;
			p{padding-left:10px; color: $font;}
			h3 {font-weight: bold; font-family: $lora; padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; margin-bottom: 20px;}
			.faq-link {width: 80%; @include center-block(); background-color: $comp; color: $white; font-weight: bold; font-size: 16px; text-align: center; font-family: $karla; margin-top: 20px; padding: 10px;}
			b{color: $blue}
			&.title{@include sec-bgimage(); background-image: url(image_path('feet.jpg')); padding: 0;
				.overlay{ @include sec-default(); height:100%; background-color: rgba($black, .3); padding: 15px 30px; color: $white;}
				h3 {@include tshadow($black);}
			}
			&.one { float: none; margin-left: 5%; }
			&.two {float: right;}

			&.full {@include sec-default(); height: auto;}
		}
	}

	.cta-banner {@include sec-default(); background-color: $blue; padding:45px 0 60px;
		.intro {text-align: center; margin-bottom: 30px; display: inline-block; width:50%; float: left;}
			p {color: $white;}

		h3, h4 {font-weight: bold; @include tshadowl(rgba($gray, .6)); color: $white;}
		h3{font-size: 50px; margin-top: 0; margin-bottom: 15px;}
		h4 {font-size: 25px; margin-bottom: 0px;}

		.cta {display: inline-block; width:40%; float: left; margin-left:5%; margin-top: 15px; background-color: lighten($blue, 10%); font-size: 23px; font-weight: bold; color: $white; padding: 10px 15px;
			@include tshadowl(rgba($gray, .4));
			span {color: $gray; font-size: 18px;}
		}

		.content {width: 40%; display: inline-block; float: right; text-align: center; padding:20px 30px; background-color: $white;
			@include sec-bgimage(); background-image: url(image_path('bag-nobg.png')); background-size: 35%;  position: relative; z-index: 0;
			&::before {@include before(); background-color: rgba($offwhite, .75);}

			h3 {font-size: 30px; color: $comp; margin-bottom: 5px; text-shadow:none;}
			h4{margin-bottom: 15px; color: $gray; text-shadow:none; font-size: 20px;}
			p {line-height: 1.6em; font-size: 18px; color: $blue;
				span {font-weight: bold; }
				b{color: $comp;}
			}
		}
		.boxes {@include sec-default(); margin-top:30px; padding:30px 30px 0}
		.iv-box{ width:32%; display: inline-block; margin-bottom:10px;padding:15px 20px; text-align: center; p{font-size: 18px;}}
	}

	h4.fancy {text-align: center; margin:40px 0 10px; position: relative; font-weight: bold; color: darken($blue, 5%); font-size: 20px;
			&::before, &::after {content: ""; width: 10%; height: 1px; background-color: rgba($gray, .3); top:10px; position: absolute;}
			&::before{left:0;}
			&::after{right:0;}
		}

	.banner3 {
		@include sec-default(); background-color: $offwhite; padding: 60px 30px 30px;
		.inner {width:95%;@include center-block();}
		.top {@include sec-default(); margin-bottom:20px; }
		.banner-mid {width:35%; @include center-block(); position: relative; z-index: 5;
			.img-responsive {width:55%; @include center-block();}
			.box{@include sec-default(); margin-bottom: 10px; background-color: $offwhite; text-align: center;border-radius: 50%; padding-top: 35px; margin-top: -90px; height:180px;}
			h3 {font-weight: bold; margin: 0; color:$lt-blue; font-size: 30px; text-transform: uppercase; letter-spacing: 5px;}
		}

		.banner-left, .banner-right {display: inline-block; float: left;}
		.banner-left {width:35%; background-color: rgba($offwhite, .8); }

		.iv-box{ @include sec-default(); margin-bottom: 20px; background-color: $white; padding:15px 30px; text-align: center;
			&.link {margin-bottom: 0; background-color: $gray; a{color: $white; font-weight: bold; font-size: 17px;}}
		}
		.ivcon {height: 80px; width:auto; @include center-block();}
		span {font-weight: bold; color:$blue; font-size: 20px; text-transform: uppercase;line-height: 1.5em}
		.banner-right {width:60%; float: right;
			h4 {font-weight: 800; font-family: $open; text-align: center; font-size: 20px; background-color: $gray; padding: 8px 5px; color: $white;}
		}

		.drip {margin:10px 0 10px 10px; width: 31%; height: 110px;
			&::before{@include before(); background-color: rgba($black, .1);}
			p{font-size: 18px; color: $white; @include tshadow($black); }
		}
	}


	@include bp(xl) {
		.home-hero {height:770px;
			// h1 {font-size: 110px; }
			// h3{font-size: 28px;}
		}
	}
	@include bp(tb) {
		.home-hero {height:550px;
			.over-frame{padding: 55px 30px 0;left:15%;}
			h1 {font-size: 90px; }
			h3{font-size: 28px;}
		}
	}
}

.menu {
	.pages-header{background-image:url(image_path('jump.jpg'));background-position: bottom center; height:150px;&::before {background-color:rgba($black, .1);}}
	h1 { @include tshadow($gray); }
	.treatment-content{ @include sec-default(); padding: 40px 30px; background-color: $offwhite; }

	#solo, #accordeon {display: inline-block; width:49%; float: left; }
	#solo {float: right;}

	.cbp-item {@include sec-default();
		p span {color: $blue; font-weight: bold; @include sec-default();}
		.cbp-caption {  margin-bottom:20px;}

		.cbp-caption-defaultWrap { padding: 30px 0 15px 30px;background-color: $white; padding-left: 14%; position: relative; z-index: 0;
			&::before {@include before(); width:10%; background-color: $blue; @include sec-bgimage(); background-image: url(image_path('bag-iconflow.png')); background-size: 90%;}
		}

		h3{margin-top: 0; margin-bottom: 15px; color: $black; font-weight: bold;}
		h4 { text-transform: uppercase; color: $blue; font-size: 16px; font-weight: bold; margin-top: 0;position: relative; z-index: 0;
			&::after{content: ""; position: absolute; left:0px; bottom:-5px; width:35px; height: 2px; background-color: $blue;}
		}
	}

	img.icon { width:12%; @include center-block(); margin-bottom: 10px;}
	.cbp-caption-activeWrap {padding: 20px; background-color: $white; border-top: 1px solid #dfdfdf;
		p span {text-align: center;}
	}


	#solo {
		.cbp-caption-defaultWrap {  padding:15px 0 0px; background-color: transparent;text-align: center;
			h4::after{display: none;}
			h3{margin-bottom: 5px;}
			&::before {display: none;}
		}
		.cbp-caption {background-color: $white; padding: 10px 30px;}

		.cbp-caption-activeWrap {position: relative; padding: 0 25px 10px 0; border-top: 0; width:90%; text-align: center; @include center-block(); background-color: transparent;}
		.cbp-l-caption-body {padding-left: 0;}
	}

	.sidebar {width:30%; display: inline-block; float: right; background-color: $blue; padding: 40px 15px 0;
		.pricing, .add-ons {@include sec-default(); margin-bottom: 30px;}
	}
}

.iv-therapy {
	.pages-header {background-image:url(image_path('jump.jpg'));background-position: bottom center; height:150px;&::before {background-color:rgba($black, .1);}}
	h1 { @include tshadow($gray); }

	.layout-main {
		.inner {@include sec-default(); padding:20px 0; margin: 30px 0;
			@include sec-bgimage(); background-position: right center; background-size: 35%; background-image: url(image_path('patients-single.jpg'));}
		p{color: $font;font-size: 16px; padding:0 5px;}
		h3, h2 { color: $comp2; font-weight: bold}
		h4 {text-align: left; color: $blue; margin-bottom:5px; span {color: $gray;}}
		hr {width: 90%; float: left; margin: 10px 0; }
		.title-line {background-color: $blue;}

		.left {width: 64%; padding: 0 20px 0 10px;}
		.right {width:45%; float: right; padding: 0 15px;}

		.block1, .block2, .block3 {width: 50%; float: left; padding:0 10px;}
		.block2 {float: right;}
		.block3 {@include sec-default();padding-top: 10px; }

		&.mid{background-color: $blue; padding: 30px 50px 40px;
			.inside {@include sec-default();}
			h2 {color: $white; font-weight: bold; font-family: $lora; @include tshadowl(rgba($gray, .6)); margin-bottom: 20px;}
			h4 {font-family: $karla; font-size: 20px; color: $offwhite; font-weight: bold;}
			.title-line {background-color: rgba($gray, .2);}
			p { color:$black}

			.left {width: 75%;}
			.right {width: 22%; position: absolute;background-color: $white; padding: 10px 15px 15px;  text-align: center; border: 1px solid #dfdfdf;
				h4 {text-transform: none; font-weight: normal; color: $blue; text-align: center; margin-bottom: 15px; font-size: 18px;}
			}

		}
	}

	.layout-final-sec {background-color: $offwhite; padding: 40px 0 50px;
		h3 { color: $blue; font-weight: bold;}
		p {font-size: 16px;}
		.cbp-item {width:90%;}
		.cbp-caption { margin-bottom: 20px;
			padding-left: 10%; position: relative; z-index: 0;
	 			&::before {@include before(); width:10%; @include sec-bgimage(); background-image: url(image_path('bag-iconflow-bl.png')); background-size: 95%;}
		 	.cbp-caption-defaultWrap {padding-left: 0; margin-bottom: 0px;
		 	}
			.cbp-caption-activeWrap {height:100px;}
			&.second .cbp-caption-activeWrap {height:120px;}
			.cbp-l-caption-body{padding-left: 10px;}
	 	}

	 		// h3{margin-top: 0; margin-bottom: 15px; color: $black; font-weight: bold;}
	 		// h4 { text-transform: uppercase; color: $blue; font-size: 16px; font-weight: bold; margin-top: 0;position: relative; z-index: 0;
	 		// 	&::after{content: ""; position: absolute; left:0px; bottom:-5px; width:35px; height: 2px; background-color: $blue;}
	 		// }
	}
}

.contact {
	.pages-header{background-image:url(image_path('placeholder.jpg'));background-position: top right; height:200px;&::before {background-color:rgba($black, .2);}}
	h1 { @include tshadow($black); }
	.contact-sec {@include sec-default(); text-align: center; padding: $padd;background-color: $offwhite;
		@include sec-bgimage();background-size: 50%;background-position: top right;
			h4 {margin-left: 15px; margin-bottom:20px; line-height: 1.6em; font-family: $lora;
				span {font-family: $lora;}}


		.link-box {@include sec-default(); @include sec-bgimage(); background-image: url(image_path('placeholder.jpg')); position: relative; z-index: 0; margin: 15px 0 20px; padding: 20px;
			&::before {@include before(); background-color: rgba($black, .7);}
			.inside {@include sec-default(); text-align: center; padding: 15px 0 0; border: 1px dotted $white;}
			h4 {color: $white; margin-top:0; span{font-weight: bold; color: $blue; font-family: inherit;}}
		}

		ul.social {padding: 10px 40px; position: relative;
				&::before {width: 25%; height: 4px; border-bottom: 1px dotted rgba($gray, .3); content: ""; position: absolute; left: 40%; top:-5px;}
				&::after {width: 25%; height: 4px; border-bottom: 1px dotted rgba($gray, .3); content: ""; position: absolute; left: 40%; bottom:-5px;}
			li {display: inline-block; font-size: 25px; margin-left: 15px;}
		}
	}
}

.plus {
	.layout-main {
		.icon {width:24%; margin-bottom: 0px;}
		.content-box {width: 80%; @include center-block();
			h4 span {font-size: 24px}
			.block1, .block2, .block3, .block4 {padding: 0 5px; display: inline-block;}
			.block1{width: 35%; }
			.block2 {width: 64%; float: right;}
			.block3 {width: 63%; float: left; margin-top: 25px;}
			.block4{width: 30%; float: none; padding:15px; margin-left:20px; border: 1px solid #dfdfdf;}

			.link-btn { @include sec-default(); padding:20px 10px ; background-color: $gray;@include sec-bgimage(); background-image: url(image_path('bag-iconflow-bl.png')); background-size: 19%; border: 1px solid #dfdfdf;
				.inner{width:80%; float: right; text-align: center;}

				h5{color: $white; @include tshadowl(rgba($gray, .4)); font-size: 19px; font-weight: bold; line-height: 1.2em; @include ease();
					&:hover{color: $comp;}
				}
			}
		}
		p {font-size: 16px;}
	}

	#clinic.uk-modal {
		text-align: center;
		h2 {font-weight: bold; color: $blue;}
		.left{width: 50%; float: left;}
		h4{text-transform: none; font-weight: bold; color: $comp;}
	}

	.layout-main.mid{background-color: $blue; padding: 30px 50px 40px; margin-bottom:60px;
		.inside {@include sec-default();}
		h2 {color: $white; font-weight: bold; font-family: $lora; @include tshadowl(rgba($gray, .6)); margin-bottom: 20px;}
		h4 {font-family: $karla; font-size: 20px; color: $offwhite; font-weight: bold;}
		.title-line {background-color: rgba($gray, .2);}
		p { color:$black}

		.left {width: 75%;}
		.right {width: 22%; position: absolute;background-color: $white; padding: 10px 15px 15px;  text-align: center; border: 1px solid #dfdfdf;
			h4 {text-transform: none; font-weight: normal; color: $blue; text-align: center; margin-bottom: 15px; font-size: 18px;}
		}

	}
}

.page{
	.layout-main {
		.inner {@include sec-default(); padding:20px 0; margin: 30px 0;
			@include sec-bgimage(); background-position: right center; background-size: 35%; background-image: url(image_path('patients-single.jpg'));}
		p{color: $font;font-size: 16px; padding:0 5px;}
		h3, h2 { color: $comp2; font-weight: bold}
		h4 {text-align: left; color: $blue; margin-bottom:5px; span {color: $gray;}}
		hr {width: 90%; float: left; margin: 10px 0; }

		.left {width: 64%; padding: 0 20px 0 10px;}
		.right {width:45%; float: right; padding: 0 15px;}

		.block1, .block2, .block3 {width: 50%; float: left; padding:0 10px;}
		.block2 {float: right;}
		.block3 {@include sec-default();padding-top: 10px; }

		&.mid{background-color: $blue; padding: 30px 50px 40px;
			.inside {@include sec-default();}
			h2 {color: $white; font-weight: bold; font-family: $lora; @include tshadowl(rgba($gray, .6)); margin-bottom: 20px;}
			h4 {font-family: $karla; font-size: 20px; color: $offwhite; font-weight: bold;}
			.title-line {background-color: rgba($gray, .2);}
			p { color:$black}

			.left {width: 75%;}
			.right {width: 22%; position: absolute;background-color: $white; padding: 10px 15px 15px;  text-align: center; border: 1px solid #dfdfdf;
				h4 {text-transform: none; font-weight: normal; color: $blue; text-align: center; margin-bottom: 15px; font-size: 18px;}
			}

		}
	}

	.layout-final-sec { padding: 30px 0;
		@include sec-bgimage(); background-image: url(image_path('temp-cover2.png')); background-size: 40%; background-position: top right;

		.membership {width: 60%; display: inline-block; float: left; }
		p {color: $white; font-weight: bold;}

		.intro  {text-align: center; margin-bottom: 30px;
			@include sec-default();
			h2 {color: $white; font-weight: bold; @include tshadowl ($gray); text-transform: uppercase; font-size: 35px; margin-top: 0; margin-bottom: 0;}
			h4{color: $white; line-height: 1.4em; font-weight: bold;
				&.lh0 {line-height: 1em;}}
		}

		.mem-box {width: 55%; display: inline-block; float: left; background-color: $white; padding:5px 15px 10px; text-align: center;
			.title-line {@include center-block(); width: 45%;}
			b {color:$blue}
			p {color: $gray;
				&.pleft {color: $blue;}
				span {font-weight: bold; text-transform: uppercase; color: $comp; @include tshadowl($gray); font-size: 18px}
			}
			i {font-size: 14px;}
			h3 {color: $gray; font-weight: bold; text-align: center;text-transform: uppercase;}
		}

		.right{width:40%; display: inline-block; float: none; padding: 20px 0 19px; background-color: $offwhite; p{text-align: center; color: $gray; margin-bottom: 0;}}
		.monthly {display: inline-block; width: 100%; padding: 5px; text-align: center;
			h4{font-weight: bold; color: $blue; span{font-weight: normal; color:$gray}}
		}
	}

	.specials-row{@include sec-default();padding: 20px 0; text-align: center;
		.link-specials {display: inline-block; width: 43%; font-size: 18px; font-weight: bold;
			background-color: $comp; padding: 5px; @include tshadowl($gray);
			&.one {float: left;}
			&.two {float: none; margin-left: 20px;}
			.in {border: 1px solid $white; @include sec-default(); padding: 10px;}
			.spec{color: $white;}
			span {font-size: 15px; color: $white;}
		}
	}
}

#package.uk-modal,
#deal.uk-modal  {
	.content{padding-bottom:50px;}
	h3 {color: $blue; font-weight: bold; }
	h4 {font-weight: bold; margin-bottom: 0; font-style: italic;}
	p {margin-left: 5px; color: $font;}
}
.layout-member { @include sec-default(); background-color: $blue; padding: 30px 0;
		@include sec-bgimage(); background-image: url(image_path('temp-cover2.png')); background-size: 40%; background-position: top right;

		.membership {width: 60%; display: inline-block; float: left; }
		p {color: $white; font-weight: bold;}

		.intro  {text-align: center; margin-bottom: 30px;
			@include sec-default();
			h2 {color: $white; font-weight: bold; @include tshadowl ($gray); text-transform: uppercase; font-size: 35px; margin-top: 0; margin-bottom: 0;}
			h4{color: $white; line-height: 1.4em; font-weight: bold;
				&.lh0 {line-height: 1em;}}
		}

		.mem-box {width: 55%; display: inline-block; float: left; background-color: $white; padding:5px 15px 10px; text-align: center;
			.title-line {@include center-block(); width: 45%;}
			b {color:$blue}
			p {color: $gray;
				&.pleft {color: $blue;}
				span {font-weight: bold; text-transform: uppercase; color: $comp; @include tshadowl($gray); font-size: 18px}
			}
			i {font-size: 14px;}
			h3 {color: $gray; font-weight: bold; text-align: center;text-transform: uppercase;}
		}

		.right{width:40%; display: inline-block; float: none; padding: 20px 0 15px; background-color: $offwhite;
			p{text-align: center; color: $gray; margin-bottom: 0;
				span {color: $font; font-style: italic; font-size: 15px; font-weight: normal; }
			}
		}
		.monthly {display: inline-block; width: 100%; padding: 5px 5px 0; text-align: center;
			&.last {margin-bottom: 10px;}
			h4{font-weight: bold; color: $blue; margin-bottom: 5px; span{font-weight: normal; color:$gray}}
		}
}

.specials-row{@include sec-default();padding: 20px 0; text-align: center;
	.link-specials {display: inline-block; width: 43%; font-size: 18px; font-weight: bold;
		background-color: $comp; padding: 5px; @include tshadowl($gray);
		&.one {float: left;}
		&.two {float: none; margin-left: 20px;}
		.in {border: 1px solid $white; @include sec-default(); padding: 10px;}
		.spec{color: $white;}
		span {font-size: 15px; color: $white;}
	}
}



.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
	&::before, &::after { content: ''; display: table; }
	&::after { clear: both;}

	li {
		width: 340px;
		height: 340px;
		display: inline-block;
		margin: 15px;
	}

	.ch-item {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: relative;
		box-shadow: 0 1px 2px rgba($black,0.1);
		cursor: default;
		background-color: $lt-blue;
	}

	.ch-info-wrap{
		position: absolute;
		width: 320px;
		height: 320px;
		border-radius: 50%;

		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		-o-perspective: 800px;
		-ms-perspective: 800px;
		perspective: 800px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		top: 10px;
		left: 10px;
		background-color: $gray;
		box-shadow: 0 0 0 20px rgba($white,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
	}

	.ch-info{
		position: absolute;
		width: 320px;
		height: 320px;
		border-radius: 50%;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;


		div {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-position: center center;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		.ch-info-back {
			-webkit-transform: rotate3d(0,1,0,180deg);
			-moz-transform: rotate3d(0,1,0,180deg);
			-o-transform: rotate3d(0,1,0,180deg);
			-ms-transform: rotate3d(0,1,0,180deg);
			transform: rotate3d(0,1,0,180deg);
			background: $blue;
			padding-top: 80px;
			@include sec-bgimage(); background-image: url(image_path('menu-circles.png')); background-position: top center; background-size: 25%;
		}

		h3, h4 { color: $white; }
		h3 {font-size: 20px;
			// @include tshadowl($black);
		}

		.ch-info-front {
			color: $white;
			// @include tshadowl($black);
			padding-top:70px;

			h4 {margin-bottom: 5px; font-size: 16px; color: $blue; font-weight: bold}
			h3 {font-weight: bold; margin-top: 0; text-transform: uppercase; margin-bottom: 30px;}
			hr{width:50%; @include center-block(); border-top: 1px solid rgba($offwhite, .6);}
			i {font-size: 15px; margin-right: 5px;}
		}

		p {
			color: $white;
			padding: 5px 10px;
			margin: 0 30px;
			font-size: 16px;
		}
	}

	.hangover .ch-info-front { background-color:$comp;}
	.wellness {
		.ch-info-front { background-color: #FFDB19;}
		.ch-info-back {padding-top:60px;}
	}
	.flu .ch-info-front { background-color: #66ff33;}
	.beauty .ch-info-front { background-color: #9900ff;}
	.fatigue .ch-info-front { background-color: #ff6633;}
	.sports .ch-info-front { background-color: #191970;}
	.immune .ch-info-front { background-color: #008080;}
	.women .ch-info-front { background-color: #cc0066;}
	.men .ch-info-front { background-color: #cc0000;}
	.detox .ch-info-front{ background-color: $comp2;}

	.ch-item:hover .ch-info-wrap { box-shadow:0 0 0 0 rgba($white,0.8), inset 0 0 3px rgba(115,114, 23, 0.8);}
	.ch-item:hover .ch-info {
		-webkit-transform: rotate3d(0,1,0,-180deg);
		-moz-transform: rotate3d(0,1,0,-180deg);
		-o-transform: rotate3d(0,1,0,-180deg);
		-ms-transform: rotate3d(0,1,0,-180deg);
		transform: rotate3d(0,1,0,-180deg);
	}
}
