// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
@import "variables";

// ::selection{background-color: $comp;}
// @include sec-bgimage(); background-image: url(image_path('splash.png'));

.pages-header{
	@include sec-default();
	@include sec-bgimage();

	h1 {font-size: 45px;font-weight: bold; color: $white;text-transform: uppercase;}
	&.img {background-image: url(image_path('rolling.jpg')); background-position: bottom right; position: relative;z-index: 0;
		&::before {@include before(); background-color: rgba($white, .3);}
	}
	&.blue {background-color: $blue;}

	@include bp(dt) {padding: 40px 0;}
	@include bp(tb) {padding: 40px 0 30px;}
	@include bp(pl) { padding: 30px 0 20px; h1 {font-size: 30px;}}
	@include bp(ph) {padding: 40px 0 20px;}
}

.uk-modal-close i {margin:10px 10px 0 0; font-size: 16px;}

.pages-wrap{width: 95%; @include center-block();}
.title-line {width: 50px; height: 1px; background-color: rgba($gray, .5); margin: 8px 0 15px;}
.link-def {@include sec-default(); background-color: $blue; padding: 7px 10px; margin-top: 7px; color:$white; font-size: 16px; font-weight: bold; text-transform: uppercase;}


.logo-plus { width:35%; @include center-block();}
.layout-main {@include sec-default(); padding: 30px 50px; background-color: $offwhite;
		.top {@include sec-default();}
		h4 {text-transform: uppercase;text-align: center;
			span{text-transform: none; font-weight: bold; color: $blue;}
		}
		hr {border-top: 1px solid rgba($gray, .15);}

		.block1, .block2 {display: inline-block; float: left; width: 49%; padding: 15px 5px 0 15px; }
		.block2 {float: right;}
		.left, .right {width: 52%; float: left; display: inline-block; padding: 0 15px;}
		.right { width: 46%; float: right; padding: 20px 30px;}
}
.layout-final-sec {@include sec-default();background-color: $blue; padding: $padd;
	.block1, .block2, .block3 {display: inline-block; float: left; width: 30%; padding: 5px 20px; color:$white;}
	.block2, .block3 {background-color: $white; padding: 15px;  border-top-right-radius: 50px; border-bottom-left-radius: 50px;
		.inner {@include sec-default(); border: 1px solid $white; padding: 15px; text-align: center;height:175px; border-top-right-radius: 50px; border-bottom-left-radius: 50px;}
		.link { @include sec-default(); color: $white; font-weight: bold; margin-top: 15%; font-size: 20px; @include ease2();
			&.light{color: $gray;}
			&:hover {color: $blue}
		}
	}
	.block2{margin-left: 4%; .inner {border: 1px solid $gray; }}
	.block3 {background-color: $gray; float: right;}
}

img.icon { width:10%; @include center-block();}
.blue-block{ @include sec-default(); background-color: $blue; padding: 5px 0;
	h2, h3 {color: $white; }
}

.ch-grid {
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 75%;
	float: left;
	&::before, &::after { content: ''; display: table; }
	&::after { clear: both;}

	li {
		width: 315px;
		height: 315px;
		display: inline-block;
		margin: 15px 10px 15px 5px;
	}

	.ch-item {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: relative;
		box-shadow: 0 1px 2px rgba($black,0.1);
		cursor: default;
		background-color: $lt-blue;
		text-align: center;
	}

	.ch-info-wrap{
		position: absolute;
		width: 305px;
		height: 305px;
		border-radius: 50%;

		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		-o-perspective: 800px;
		-ms-perspective: 800px;
		perspective: 800px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		top: 5px;
		left: 5px;
		background-color: $gray;
		box-shadow: 0 0 0 10px rgba($white,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);
	}

	.ch-info{
		position: absolute;
		// width: 320px;
		// height: 320px;
		width: 100%;
		height:100%;
		border-radius: 50%;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;


		div {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-position: center center;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		.ch-info-back {
			-webkit-transform: rotate3d(0,1,0,180deg);
			-moz-transform: rotate3d(0,1,0,180deg);
			-o-transform: rotate3d(0,1,0,180deg);
			-ms-transform: rotate3d(0,1,0,180deg);
			transform: rotate3d(0,1,0,180deg);
			background: $blue;
			padding-top: 80px;
			@include sec-bgimage(); background-image: url(image_path('menu-circles.png')); background-position: top center; background-size: 25%;
		}

		h3, h4 { color: $white; }
		h3 {font-size: 20px;}

		.ch-info-front {
			color: $white;
			padding-top:70px;

			h4 {margin-bottom: 5px; font-size: 16px; color: $blue; font-weight: bold}
			h3 {font-weight: bold; margin-top: 0; text-transform: uppercase; margin-bottom: 30px;}
			hr{width:50%; @include center-block(); border-top: 1px solid rgba($offwhite, .6);}
			i {font-size: 15px; margin-right: 5px;}
			p {text-transform: capitalize;}
		}

		p {
			color: $white;
			padding: 5px 10px;
			margin: 0 20px;
			font-size: 16px;
		}
	}

	.hangover .ch-info-front { background-color:#191970;}
	.wellness {
		.ch-info-front { background-color: #FFDB19;}
	}
	.flu .ch-info-front { background-color: #66ff33;}
	.beauty .ch-info-front { background-color: #9900ff;}
	.fatigue .ch-info-front { background-color: #ff6633;}
	.sports .ch-info-front { background-color: $comp; }
	.immune {
		.ch-info-front { background-color: #008080;}
	}
	.women .ch-info-front { background-color: #cc0066;}
	.men .ch-info-front { background-color: #cc0000;}
	.detox .ch-info-front{ background-color: $comp2;}

	.ch-item:hover .ch-info-wrap { box-shadow:0 0 0 0 rgba($white,0.8), inset 0 0 3px rgba(115,114, 23, 0.8);}
	.ch-item:hover .ch-info {
		-webkit-transform: rotate3d(0,1,0,-180deg);
		-moz-transform: rotate3d(0,1,0,-180deg);
		-o-transform: rotate3d(0,1,0,-180deg);
		-ms-transform: rotate3d(0,1,0,-180deg);
		transform: rotate3d(0,1,0,-180deg);
	}

	@include bp(dt) {
		width: 80%;
	}
}

.drip {display: inline-block; float: none; margin:10px 0 10px 10px; width: 30%; height: 110px; text-align: center; @include sec-bgimage(); background-image: url(image_path('slices-bg.jpg')); position: relative;z-index: 0;
	&::before{@include before(); background-color: rgba($black, .45);}
	p{font-size: 20px; font-weight: bold; color: $white; @include tshadow($gray); }

	&.age {background-image: url(image_path('drips/age.jpg'));}
	&.fibro {background-image: url(image_path('drips/fibro.jpg'));}
	&.diabetes {background-image: url(image_path('drips/diabetes.jpg'));}
	&.health {background-image: url(image_path('drips/vitamin.jpg'));}
	&.lag {background-image: url(image_path('drips/fatigue.jpg'));}
	&.ath {background-image: url(image_path('drips/ath.jpg'));}
	&.immune {background-image: url(image_path('drips/immune.jpg')); background-position: center center;}
	&.hangover {background-image: url(image_path('drips/tired.jpg'));}
	&.libido {background-image: url(image_path('drips/libido3.jpg'));}
	&.detox {background-image: url(image_path('drips/detox.jpg'));}
	&.asthma {background-image: url(image_path('drips/inhaler.jpg'));}
	&.cancer {background-image: url(image_path('iv-bag.jpg'));}
	&.autism {background-image: url(image_path('drips/autism.jpg'));}
	&.full {background-color: $comp; &::before {display: none;}}
}

.home-firstlive {
	.shadow{@include sec-default();
		background-color: $white; @include shadow();
	}


	h4.fancy {text-align: center; margin:40px 0 10px; position: relative; font-weight: bold; color: darken($blue, 5%); font-size: 20px;
		&::before, &::after {content: ""; width: 10%; height: 1px; background-color: rgba($gray, .3); top:10px; position: absolute;}
		&::before{left:0;}
		&::after{right:0;}
	}

	.home-hero{@include sec-default(); padding: 60px;
		&.hero-img {@include sec-bgimage(); background-image: url(image_path('beach-couple.jpg'));background-position: center center;}

		.title-block {float: right; margin-top: 6%; text-align: center;
			.circles {width:100px;display: inline-block;}
			.content{@include sec-default();padding-bottom: 30px; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; border-bottom: 1px solid rgba($gray, .3);
					// @include sec-bgimage(); background-image: url(image_path('circles-header.png')); background-size: 25%;
			}

			.top {@include sec-default();
				h2 { margin: 0; line-height: 1em; color:$white; position: relative;
					&::before, &::after {content: ""; width: 15%; height: 1px; background-color: rgba($gray, .3); top:15px; position: absolute;}
					&::before{left:30px;}
					&::after{right:30px;}
				}
			}
		}

		h1, h2, h3 {font-weight: bold;@include tshadow(rgba($black, .8)); color:$white; }
		h3 { line-height: .9em; margin:0;}
		h1 {color: $black; @include tshadow($gray); line-height: 1em; font-family: $open;
			// position: relative; z-index: 0;
			// &::before {@include before(); width:150px; height:200px;top:-20px; @include sec-bgimage(); background-image: url(image_path('circles-header.png'));}
		}
	}

	.faq-sec {@include sec-default();background-color: $offwhite;
		@include sec-bgimage(); background-size: 32%; background-image: url(image_path('juice.jpg'));
		&.white {background-color: $white; @include shadow();}
		h3 {font-weight: bold; font-family: $open; padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; margin-bottom: 10px;}

		.title-box {display: inline-block; float: left; width: 25%; padding-top: 20px; padding-left: 20px;
			.inside-round {
				margin-left: 35px; text-align: center; padding: 50px 20px 0; display: block;
				h3 {font-family: $open; font-weight: bold; font-size: 35px; @include tshadow($light);}
			}
		}

		.md-right {width: 64%; display: inline-block; float: none; margin-left: 6%; padding:20px 0 30px 40px;}
		.faq-box {
			display: inline-block; width: 49%; float: left; padding:10px 15px 0;
			h3 {font-size: 20px;}
			p{padding-left:10px; }
			.faq-link {width: 80%; @include center-block(); background-color: $comp; color: $white; font-weight: bold; font-size: 16px; text-align: center; font-family: $karla; margin-top: 20px; padding: 10px;}
			b{color: $comp}
			&.right {float: right;}
			&.full {width:100%;}
		}
		.drip {margin:10px 0 10px 5px; width: 24%; height: 100px; float: left;
			&::before{@include before(); background-color: rgba($black, .1);}
			p{font-size: 18px; color: $white; @include tshadow($black); }
		}
	}

	.book-banner {@include sec-default(); padding:10px 0 0; text-align: center;background-color: $comp;
		h3, h4 {font-weight: bold; @include tshadowl(rgba($gray, .6)); font-family: $open; color: $white;}
		h3{font-size: 50px; margin-top: 0; margin-bottom: 15px;
			span{color: $blue;@include tshadowl(rgba($gray, .6)); font-family: $open;}
		}
		h4 {font-size: 25px; margin-bottom: 0px;}

		.cta {display: inline-block; width:20%; float: none; margin-left:5%; margin-top: 15px; background-color: lighten($blue, 10%); font-size: 23px; font-weight: bold; color: $white; padding: 10px 15px;
			@include tshadowl(rgba($gray, .4));
			span {color: $gray; font-size: 18px;}
		}
	}

	.banner-top { @include sec-default();
		background-color: $white;
		@include sec-bgimage(); background-image: url(image_path('water-bg-tall.png'));
		.inner {width: 92%; @include center-block();}
		.left-block {@include sec-default(); margin-bottom: 15px; text-align: center;}

		h3 {font-weight: 800; font-family: $open; font-size: 35px;
			b{color: $blue; }
			span {font-weight: normal; font-size: 20px; color:$blue;}
			.fa {font-size: 6px; vertical-align: middle;}
		}
		h4 {font-weight: bold; margin-bottom: 10px; line-height: 1.3em;
			b {color: $blue;}
		}

		.ch-grid.h-menu{
			@include sec-default(); text-align: center;
			li {width: 180px; height: 180px; margin: 10px 15px;
				.ch-info-wrap { background-color: #191970; padding-top: 25px;
					width: 170px; height: 170px;
					&.alt{background-color: #44dba7; }
					&.alt2{background-color: #9900cc; padding-top: 10px;}
				}
				h4 { color: $white; font-weight: bold; @include tshadowl ($gray); font-size: 22px; @include ease(); margin-top: 0;
					span {font-size: 18px;}
				}
				.icon {width: 25%; }
				&:hover h4 {color: $comp;}
			}
		}
	}
	.layout-mainb{@include sec-default();
		padding:50px 0 0;
		// margin-top:90px; background-color: $comp;

			.inner-sub {@include center-block(); width: 90%; text-align: center;
				background-color: $white;
				.qcon {width: 12%; @include center-block();}
				.top-bar {@include sec-default(); text-align: center; margin-bottom: 25px;}
				.q-box {display: inline-block; float: none; margin:0 10px; padding: 15px 10px 15px 15px; width: 23%; text-align: left; position: relative; z-index: 0;
					border-right:1px solid #dfdfdf;
					&.last {margin-right: 0;border-right: 0;}
				}
			}

			.inner-alt {display: inline-block;float: left; text-align: center; width: 70%; background-color: $white;
				.qcon {width: 12%; @include center-block();}
				.top-bar {@include sec-default(); text-align: center; margin-bottom: 25px;}
				.q-box {display: inline-block; float: left; width: 47%; padding: 15px 20px; text-align: left;}
			}

			.book-banner {float: right;display: inline-block; width: 30%;}
	}
	// @include bp(su) {
	// 	.home-hero.hero-img {
	// 		background-position: center center;
	// 	}
	// }
	@include bp(dt) {
		#nav .logo {width:280px;}
		.home-hero {height:650px; padding:100px;
			.title-block{width: 40%; }
			h1 {font-size: 85px;
				 &::before{left: -20px;}
			}
		}

		.banner-top {
			padding:20px 0 100px;
			// .left-block{margin-bottom: 50px;}
		}

	}
	@include bp(tb) {
		.home-hero {height:550px;
			.title-block{width: 45%;
				.content {padding-bottom:15px;}

				.top h2{
					&::before, &::after {width:10%;}
				}
						&::before{left:50px;}
						&::after{right:50px;}
			}
			h1{font-size: 65px; margin-bottom: 0; line-height: .8em;
				&::before {left:-20px; background-size: 75%; background-position: top center;}
			}
		}

		.banner-top {
			padding:30px 0 70px;
			background-position: bottom right;
		}

		.inner-sub {width:94%; margin-top: 25px;
			.q-box { margin: 0 5px; padding: 10px;
				p {font-size: 16px;}
			}
		}

		.faq-sec { background-image: url(image_path('oranges.jpg')); background-size: 30%;
			.title-box h3{color: $white; @include tshadowl($black);}
			.md-right {width: 70%; float: right;  margin-left: 0; padding:10px 10px 30px 10px;}
		}
	}

	@include bp(md) {
		.home-hero{height:430px; padding-right: 20px;
			.title-block{width: 55%;}
			h1 {font-size: 40px;
				&::before {background-size: 55%; left:10px}
			}
			.top {
				&::before, &::after {top: -5px}
				h2 {font-size: 22px;
				}
			}
		}

		.inner-sub {
			.q-box { width: 49%; margin:0;
				&.first,&.two {border-bottom: 1px solid #dfdfdf;}
				p {font-size: 16px;}
			}
		}

		.faq-sec { background-image: url(image_path('orange-bg.jpg')); background-size: 100%;
			.title-box {@include sec-default(); padding-top: 5px;.inside-round{margin-left: 0; padding:10px 0 20px;}}
			.md-right {padding:10px;@include sec-default(); background-color: $offwhite;}
			.faq-box{@include sec-default();}
		}
	}

	@include bp(pl) {
		.banner-top{padding-top: 0;
			.left-block h3{font-size: 25px;
				span {font-size: 18px;}
			}
		}
		.layout-mainb {padding-top: 15px;}
	}

	@include bp(mb) {
		.home-hero{height:330px; padding-right: 5px;
			h1 {font-size: 30px;
				&::before {background-size: 50%; left:10px}
			}
			.top {
				&::before, &::after {top: -5px}
			}
				h2 {font-size: 20px;}
		}

		.book-banner h3{font-size: 30px;}
		.faq-sec .title-box .inside-round {padding: 0;
			h3 {font-size: 25px;}
		}
	}

	@include bp(sm) {
		.home-hero { height:250px;
			.title-block {
				.content{ border-left: none; border-right: none; border-bottom: none;}
				h1 {margin-top: 0; margin-bottom: 7px}
				h2{margin-top: 0}
			}
				.top {h2::before, &::after {display: none;}}
		}


		.inner-sub {
			.q-box {width:90%; @include center-block();}
		}
	}
}

.iv-therapy {
	.pages-header.img {background-image:url(image_path('citrus.jpg')); background-position: center center; height:150px; &::before {background-color:rgba($comp, .65); display: none;}}
	.pages-header {background-color: $comp;
		h1 { @include tshadow($black); font-family: $open; }
	}

	.layout-main {
		.inner {@include sec-default(); padding:20px 0;
			// @include sec-bgimage(); background-position: right bottom; background-size: 28%; background-image: url(image_path('detox.png'));
		}

		p{color: $gray;font-size: 16px; padding:0 5px;}
		h3, h2 { color: $comp2; font-weight: bold}
		h4 {text-align: left; color: $blue; margin-bottom:5px; font-family: $open; font-weight: bold; span {color: $gray;}}
		hr {width: 90%; float: left; margin: 10px 0; }
		.title-line {background-color: $blue;}

		.left {@include sec-default();padding: 0 20px 0 10px; margin-bottom: 40px;}
		.right {float: right; padding: 0 15px;}

		.block1, .block2, .block3 {width: 49%; float: left; padding:0 10px;}
		.block2 {float: right;}
		.block3 {width: 70%; margin-top:10px; }

		.right {background-color: $white; @include shadow-dk(); text-align: center; padding:15px 5px;
			@include sec-bgimage(); background-image: url(image_path('jump-pool.jpg'));  position: relative;z-index: 0;
			&::before {@include before(); background-color: rgba($white,.7);}

			.icon {width: 80px;}
			h2 {color: $comp; font-weight: bold; font-family: $open; @include tshadowl ($gray); text-transform: uppercase; margin-top: 0; margin-bottom: 15px;}
			h3 {color: $gray;font-size: 20px; margin-bottom: 0; line-height: 1em;}
			h4 {font-weight: normal; text-transform: none; color: $gray; font-family: $karla; line-height: 1.3em; text-align: center; font-size: 17px; margin-top: 3px;}

			.sec1 {@include sec-default(); background-color: rgba($white, .3);}
			.title-line {@include center-block(); width: 45%; background-color: rgba($gray, .1); margin-bottom: 20px;}
		}

		.monthly {display: inline-block; margin:0 0 15px;
			width:120px; height:120px; border-radius: 50%; background-color:$comp;
			h4{font-weight: bold; color: $white; padding: 30px 0px 0; span{font-weight: normal; color:$lt-blue}}
			&.two {background-color: $gray;}
			&.last {background-color: $teal; h4 span{color:$gray}}
		}

		.mem-box { width:80%; @include center-block();
			border: 1px solid rgba($blue, .5);
			background-color: rgba($white, .2);
			p {color: $gray;
				&.pleft {color: $blue; font-weight: bold; margin-bottom: 5px;}
				span {font-weight: bold; text-transform: uppercase; color: $comp; @include tshadowl($gray); font-size: 18px}
				span.print {color: $font; font-style: italic; font-size: 15px; font-weight: normal; text-shadow: none; }
			}
			i {font-size: 14px;}
			h3 {color: $gray; font-weight: bold; text-align: center; font-size: 19px; padding: 0 10px;}
		}
	}

	.specials-row{ text-align: center; display: inline-block;float: right; width: 28%;
 		.link-specials { @include sec-default(); font-size: 17px; font-weight: bold; background-color: $blue; padding: 5px; @include tshadowl(rgba($gray,.3));margin-top: 15px;
			.in {border: 1px solid $white; @include sec-default(); padding: 10px;}
			.spec{color: $white;}
			span {font-size: 15px; color: $white;}
		}
	}

	.layout-final-sec {background-color: $offwhite; padding: 40px 20px 20px;
		.content{@include center-block(); width:90%;}
		.icon {width:20%;}
		.intro { text-align: center;}
		h4.space{ line-height: 1.3em; color: $gray; margin-bottom: 30px; }
		.book {padding: 10px 15px; border: 1px solid darken($teal,10%); font-size: 16px; background-color: $comp; color:$white; font-weight: bold;@include ease2();
			&:hover {color: $comp;}
		}

		h3 { color: $blue; font-weight: bold;}
		p {font-size: 16px;}
		.cbp-item {width:100%;}
		.cbp-caption { margin-bottom: 20px;
			padding-left: 10%; position: relative; z-index: 0;
	 			&::before {@include before(); width:10%; @include sec-bgimage(); background-image: url(image_path('bag-iconflow-alt.png')); background-size: 90%;}
		 	.cbp-caption-defaultWrap {padding-left: 0; margin-bottom: 0px;}
			.cbp-caption-activeWrap {height:120px;}
			&.second .cbp-caption-activeWrap {height:140px;}
			.cbp-l-caption-body{padding-left: 10px;}
	 	}
	}

	@include bp(dt) {
		.layout-main { padding:0;background-color: $white; @include shadow();
			.inner{padding:20px 20px 40px 25px; background-image: none;}

			.left {width: 64%; padding-top:35px; margin-bottom: 0;}
			.block1, .block2, .block3 {width: 50%; float: left; padding:0 10px;}
			.block2 {float: right;}
			.block3 {@include sec-default();padding-top: 10px; }

			.right {width:32%; float: none; margin-left: 35px; margin-top: -80px; padding-bottom: 25px;}
			.monthly {width:110px; height:110px;}
			.mem-box{margin-top: 15px;}

			.specials-row {@include sec-default(); margin-top: 35px;
				.link-specials{width:45%; display: inline-block; float: left;margin: 0px 20px;}
			}
		}

		.layout-final-sec { padding: 60px 0 30px;
			.intro {display: inline-block; float: left; width: 27%; margin-right: 5%; text-align: center; padding-top: 25px;}
			.cbp-caption {
				.cbp-caption-activeWrap {height:120px;}
				&.second .cbp-caption-activeWrap {height:130px;}
			}
		}
	}

	@include bp(tb) {
		.layout-main {padding:0;
			.left{padding: 20px;}
			.right{@include sec-default(); background-position: center bottom;
				.sec1{width: 80%; @include center-block();}
			}
			.mem-box{background-color: rgba($white, .5);}
		}

		.layout-final-sec { padding:20px;
			.intro{width: 80%; @include center-block(); margin-bottom: 50px; }

			.lay-xs {width: 50%; display: inline-block;}
		}
	}

	@include bp(md) {
		.layout-main {
			.inner {padding-top:0;}
			.left{ margin-bottom: 0;
				.block3 {@include sec-default();}
			}
		}
		.specials-row {@include sec-default();
			.link-specials {display: inline-block; width: 45%; margin: 15px 10px;}
		}

		.layout-final-sec {
			.lay-xs {@include sec-default();}
		}
	}

	@include bp(mb) {
		.layout-main{
			.left{
				.block1, .block2 {@include sec-default();}
				.block2 {margin-top: 20px;}
			}
			.right{
				.sec1 {@include sec-default();}
			}
		}

		.layout-final-sec {padding-top:0;
			.intro {@include sec-default();}
		}
	}

	@include bp(sm) {
		.layout-main {
			.right{
				.sm-nopad{padding:0;}
				.mem-box{@include sec-default();
					.title-line{ margin-bottom: 10px;}
				}
				.monthly{width: 105px; height: 105px;}
			}
		}
		.specials-row .link-specials{width:90%; float: none; margin:10px auto;}

		.layout-final-sec {
			.cbp-caption {
				.cbp-caption-activeWrap {height:150px;}
				&.second .cbp-caption-activeWrap {height:180px;}
			}
		}
	}

	@include bp(xs) {
		.layout-main {
			.left { padding:10px 0;
				.block2 {margin-top:10px;}
			}
		}

		.layout-final-sec { padding: 10px 0;
			.cbp-caption {padding-left: 1%;
				.cbp-caption-defaultWrap {padding-left: 8%;}
				.cbp-caption-activeWrap {height:150px;}
				&.second .cbp-caption-activeWrap {height:180px;}
			}
		}
	}

	@include bp(xx) {
		.layout-main{
			.right{
				.monthly{width:90%;height:auto; float:none; margin: 0 auto; border-radius: 0;
					h4{padding: 10px 0;}
				}
				.mem-box{margin-top: 10px;}
			}
		}

		.layout-final-sec {
			.cbp-caption {
				.cbp-caption-defaultWrap {padding-left: 10%;}
				.cbp-caption-activeWrap {height:160px;}
				&.first, &.second {.cbp-caption-activeWrap {height:195px;}}
			}
		}
	}
}


.plus {
	.pages-header.img{background-color: #1341be; background-image: url(image_path('ekg.png')), url(image_path('ekg.png')); background-position:left bottom, right bottom; background-size: 20%;
		&::before{display: none;}
	}
	h1 {color: $white; font-family: $open; text-align: center; text-transform: none; }

	.layout-main {
		background-color: $white; @include shadow();
		.icon {width:24%; margin-bottom: 0px;}
		.content-box {
			width: 95%; @include center-block();
			p {font-size: 16px;}
			h4 span {font-size: 24px}
			.block1, .block2, .block3, .block4 {padding: 0 5px; display: inline-block;}
			.block1{width: 36%; }
			.block2 {width: 64%; float: right;}
			.block3 {width: 70%; float: left; margin-top: 20px;
				h4 {text-align: left;}
			}
			.block4 {float: right; display: inline-block; text-align: center; background-color: $offwhite;
				h2 {font-weight: bold; color: $blue;}
				.left{width: 50%; float: left;}
				h4{text-transform: none; font-weight: bold; color: $comp;}
			}
			.round-block{float: none;}
			.plus-round{ display: inline-block; float: none; margin-left:30px; text-align: center; width: 170px; height:170px; border-radius: 50%; padding: auto 15px; @include ease();
				h4{ margin-top: 35%; text-transform: none; font-weight: bold; line-height: 1.2em; font-family: $open;@include ease(); font-size: 19px;
					span {font-size: 16px; color: $white;}
			 	}
			 	&.one{background-color:#44dba7;}
				&.two{background-color:$comp;
					h4 {color: #44dba7;}
				}
				&:hover {background-color: $blue;
					h4 {color: $lt-blue;}
				}
			}
		}
		p {font-size: 16px;}
	}


	.weight-loss {text-align: center;display: inline-block;float: right;
		.top {@include sec-default(); background-color: rgba($black, .3); width:65%; float: none; margin: auto;}
	 .icon {width:6%;
	 }
		.inner {@include sec-default(); padding:20px 30px 10px; border: 1px solid $comp;@include sec-bgimage(); background-image: url(image_path('kettle.jpg')); position: relative;z-index: 0;
			&::before{@include before(); background-color: rgba($gray, .1);}
		}
		.inc {@include sec-default(); padding:1px 0; border: 1px solid #dfdfdf; margin-top:10px; background-color: rgba($white, .85);}
		hr{margin:10px 0;}
		h3 {color: $white; font-weight: bold; margin:0 0 5px 0; font-size: 22px;font-family: $open; @include tshadowl($black); }
		h4 {font-weight: bold; color: $white; font-family: $open;margin: 0; @include tshadowl($black);
			span{font-style: italic; font-size: 16px;color: $white;}}
		p {color: $comp; font-size: 16px; font-weight: bold; }
	}

	.final {@include sec-default(); background-color: $offwhite; padding: 20px 0 10px;
		position: relative; z-index: 0; border:1px solid #dfdfdf;
		&::before {@include before(); background-color: $light; width:30%;}
		.left, .right,{display: inline-block; float: left;}
		.left {background-color: $blue; text-align: center; padding-top:25px;}

		.drip {display: inline-block; float: left; margin:0px 5px 5px 0px; text-align: center; @include sec-bgimage(); position: relative;z-index: 0;
			&::before{@include before(); background-color: rgba($black, .15);}
			p{font-size: 18px; line-height: 1.2em; font-weight: bold; color: $white; margin-top:30px; @include tshadow($black); }
			&.hlf {background-image:none; width:46.5%; background-color: $comp; &::before {display: none;}}
			&.full {background-image:none; background-color: $comp; &::before {display: none;}}
			&.asthma {background-position: bottom right;}
		}

		.drip-box {
			h3 {font-family: $open; font-weight: bold; color: $white; margin-bottom: 0; margin-top: 30px;}
			h3, h3 span {@include tshadow($black);}
		}

		.text {width: 27%; float: none; display: inline-block; text-align: center; padding:30px 15px 10px;
			p { padding: 10px;}
			h4 {line-height: 1.4em}
		}
	}

	@include bp(dt) {
		.pages-header.img{height:150px;}
		.layout-main {
			.content-box {width: 82%;

				.block3 {width: 60%}
				.block4 {width: 37%; margin-top: 30px;}

				.weight-loss{margin-top: 20px;
					width: 60%;float: left;
					h4 span {font-size: 18px;}
					h3 {line-height: 1.5em; font-size: 24px}
					.inner { background-position: center center;
						.top{width: 35%; display: inline-block; float: left; background-color: transparent; margin-top: 50px}
						.incs-blk{width: 63%; display: inline-block; float: right;}
						.inc {background-color: rgba($white, .55);}
					}
				}
			}
		}
		.final {
			.drip-box{width:69%; float: right;}
			.left {width: 15%; float: left; display: inline-block; height: 185px }
			.right {width: 85%; float: right; display: inline-block;}
			.last {@include sec-default(); background-color: $blue; margin-right: 0; width: 99%;
				h3 {margin: 5px;text-align: center;}
			}
			.drip { width: 19.2%; height: 90px;}
			.text{float: left;}
		}
	}

	@include bp(tb) {
		.layout-main { padding: 20px 5px;
			.content-box {
				.top {width: 85%; @include center-block();}
				.block3 {width:90%; margin-bottom: 20px; display: block;}
				.block4 {width:45%; float: left; margin:0;
					p.fine{font-size: 15px; br{display: none;}}
					hr{margin:10px 0;}
					h2{margin-top: 10px; font-size: 23px;}
				}
				.weight-loss{width:52%; float: right; margin-top:20px;
					.inner{padding:15px }
				}
			}
		}
		.final {padding:0 0 15px; &::before {display: none;}
			.drip-box{width:95%;@include center-block();}
			.left, .last {@include sec-default(); height:auto; padding:12px; background-color: $blue;
				h3 {margin-top: 0; font-size: 22px;}
			}
			.drip { width: 19.4%; height: 90px;}
			.text{width:75%; @include center-block(); padding:15px 0 0; p {margin-bottom: 0; padding-bottom: 0;}}
		}
	}

	@include bp(md) {
		.pages-header.img{ padding:45px 0 0; height:130px;}

		.layout-main { padding-top:0;
			.content-box {@include sec-default();
				.block1{width:40%;}
				.block2 {width:59%;}

				.weight-loss{margin-top: 0; @include center-block(); width:85%;
					.inner {background-color: $blue; padding: 5px; background-position: bottom center;}
					.top {@include sec-default(); background-color: transparent;}
					h4, h4 span {font-size: 16px;}
					h3 {font-size: 19px;}
					p.inc {font-size: 15px;}
				}
				.block4{@include sec-default();margin-bottom:20px;
					p.less {width:85%; @include center-block();}}
			}
		}
		.final { padding: 0px 10px;
			.text {padding-bottom: 14px;}
			// .drip-box{width: 100%;}
			// .left {width:98%; height: auto; padding: 5px 0 15px; margin-bottom: 10px;
			// 	.md-hide {display: none;}
			// }
			.last {text-align: center;}
			.drip { height: 75px;width:19%; margin: 3px;
				p {margin-top: 20px; font-size: 17px;}
			}
		}
	}

	@include bp(pl) {
		.layout-main { padding-top:0;
			.content-box {@include sec-default();
				.block1{width:40%;}
				.block2 {width:59%;}
				// .block4{@include sec-default();margin-bottom:20px;}
				// .weight-loss{@include center-block(); width:85%;}
			}
		}
	}

	@include bp(mb) {
		.final {
			.drip-box {@include sec-default();}
			.drip {width: 18.6%;}
			.left, .last {h3 {font-size: 18px;}}
		}
	}

	@include bp(ph) {
		.pages-header.img{height: auto; h1{font-size: 25px; margin-top: 25px;}}
		.layout-main {
			.content-box {
				.top{@include sec-default();}
				.block1{@include sec-default();}
				.block2 {@include sec-default();}
				.block3 {@include sec-default(); margin-top: 0;}
			}
		}
		.final {
			.drip {width: 48%; height:55px;
				p{font-size: 16px;}
				&.immune {p{margin-top: 10px;}}
			}
		}
	}

	@include bp(sm) {
		.layout-main {padding:0;
			.content-box {
				hr{margin:10px 0;}
				.weight-loss {@include sec-default();}
			}
		}

		.final {
			.text {@include sec-default();}
		}
	}

	@include bp(xs) {
		.layout-main .content-box {
			.plus-round {@include sec-default(); border-radius: 0; margin:10px 0; height:auto; padding:10px 0 8px;
				h4 {margin-top: 0px;}
			}
		}
	}

	@include bp(xx) {
		.final {
			.drip {width:100%; height:50px; p{margin-top: 10px;}}
		}
	}
}

#package.uk-modal,
#deal.uk-modal  {
	.content{padding-bottom:50px; text-align: center;}
	h3 {color: $blue; font-weight: bold; }
	h4 {font-weight: bold; margin-bottom: 0; font-style: italic;}
	p {margin-left: 5px; color: $font;}

	a.modal-link {font-weight: bold; font-family: $open; color: $comp; font-size: 20px; margin-top: 30px; padding: 10px; border: 1px solid $comp; @include ease();
		&:hover{color: $blue}
	}
}

.menu {
	.pages-header{
		background-image:url(image_path('lemon-full.jpg'));background-position: bottom center; position: relative; z-index: 0;
		&::before {background-color:rgba($comp, .65);}}
		.header-icon {width:8%; display: inline-block; float: none; margin-left: 40px;}
		h1 { @include tshadow($gray); margin-bottom:0; line-height: 1em; }
		h3 {margin-top: 5px; line-height: 1.4em;}

	.treatment-content{ @include sec-default(); padding: 20px 0px 0; background-color: $offwhite;
		 @include sec-bgimage();background-repeat: repeat; background-size: 90%;	background-image: url(image_path('molecules-ov.png'));  position: relative;z-index: 0;
			&::before {@include before(); background-color: rgba($offwhite, .4);}
	}
	img.icon { width:12%; @include center-block(); margin-bottom: 10px;}

	.direct { @include center-block(); width:99%; border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; text-align: center; padding: 12px 10px 5px; margin-bottom: 20px;
		p{ font-size: 18px; font-family: $open;font-weight: bold;
			span {color: $comp;font-family: $open;font-weight: bold;}
		}

		.page-linksec {display: block;
			.page-links {display: inline-block; float: left;font-weight: bold; width:32%; h4{font-weight: bold; }}
		}
		display: none;
	}

	.sidebar { display: inline-block; float: none;
		margin-top: -65px;
		background-color: $white; @include shadow-dk(); text-align: center;
		.icon {width: 60px; margin-bottom: 0;}

		.title {color: $comp; font-weight: bold; font-size: 24px; line-height: 1em; font-family: $open; text-transform: uppercase; text-align: center; margin-top: 0; margin-bottom: 15px;}
		h3 {color: $gray;font-size: 20px; margin-bottom: 0; line-height: 1.3em;}
		h4 {font-weight: normal; text-transform: none; color: $gray; font-family: $karla; line-height: 1.3em; font-size: 17px; margin-top: 3px;}
		.title-line {@include center-block(); width: 45%; background-color: rgba($gray, .1); margin-bottom: 20px;}
		br.md-br {display: none;}
		hr{width:85%; @include center-block();}
		.pricing, .add-ons, .platform, .plan, .nonmember {@include sec-default(); padding: 12px 15px;}
		.border {@include sec-default(); height: 1px; border-top: 1px dotted $offwhite; margin-top: 15px; }
		p span { font-style: italic; }

		.pricing { text-align: left;
			@include sec-bgimage(); background-image: url(image_path('slices-bg.jpg'));  position: relative;z-index: 0;
			&::before {@include before(); background-color: rgba($offwhite, .9);}
			h3{ color: $font; font-weight: bold; font-size: 22px;
				span {text-shadow:none; font-size: 17px; color: $gray;}
			}
			h4 {color:$comp; font-family: $open;font-weight: bold; margin-left: 10px;
				span { font-size: 15px; color:$gray; text-shadow: none;  }
			}
		}

		.platform { border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;
			h4{font-weight: bold;}
			h4 span{color: $teal; font-weight: bold; font-family: $open;line-height: 1.4em; font-size: 20px;}
			p {color: $font;}
		}

		.plan {padding-top:20px;
			.side-link {@include sec-default(); padding:15px 0;border: 1px solid $white;
				p, h3 {margin-bottom: 0;color: $white; font-weight: bold;@include tshadowl(rgba($gray,.6)); @include ease();}
				p {margin-bottom: 0;}
				h3 {margin-top: 0; }
				&:hover h3{color: $comp;}
			}
			@include sec-bgimage(); background-image: url(image_path('rolling.jpg')); background-position: bottom center;  position: relative;z-index: 0;
			&::before {@include before(); background-color: rgba($blue, .85);}
		}

		.nonmember {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;
			h3 {font-weight: bold; color:$comp;}
		}

		.add-ons { background-color: lighten($lt-blue, 23%);
			h3 {color: $gray; font-weight: bold; margin-bottom: 0;line-height: 1em}
			h4{font-weight: bold; color: $comp;
				span { font-weight: normal; color: $black;}
			}
		}
		#accordeon{ padding: 0;
			.cbp-item{@include sec-default(); padding:0;}
			.cbp-caption{padding-left: 0;}
			.cbp-caption-defaultWrap {padding-left: 0; padding-top:0;
				h4 {margin-bottom: 5px; color: $comp; border-bottom: none;}
				p{color: $gray; font-weight: bold; font-family: $open;}
			}
			.cbp-caption-activeWrap { background-color: $light;}
			.cbp-l-caption-body {padding: 10px 5px 10px 10px;}
			p {font-size: 15px; color: $gray;}
		}
	}

	.ch-grid {width: 70%; float: left;
		li {
			width: 275px;
			height: 275px;
		}

		.ch-info-wrap{
			width: 265px;
			height: 265px;
		}

		.ch-info {
			.ch-info-front {padding-top:55px;}
			.ch-info-back.less {padding-top:60px;}

			hr{margin: 12px auto;}
			h3 {font-size: 19px; margin: 0 10px 20px;}
			p {font-size: 15px;}
		}
	}

	@include bp(xl) {
		.pages-header {padding: 45px 0 30px;}
		// .ch-grid {width: 72%; margin-left: 2%; }
		.sidebar { width:26%;
			.pricing h4 {margin-left: 5px;}
		}
	}

	@include bp(cm) {
		.container-fluid {padding-left: 0;}
		.ch-grid {margin-left: 5%; width:65%;}
	}

	@include bp(dt) {
		.pages-header {padding: 30px 0;}
		.direct {display: none;}
		br.md-br {display: none;}

		// .ch-grid{
		// 	// float: none;
		// 	// margin-left: 2%;
		// 	li {margin-left: 5px; margin-right: 5px;}
		// }
		.sidebar {width:22%; margin-top: -65px;
			// float: right;
			.pricing h4 {margin-left: 5px;}
		}
	}

	@include bp(tb) {
		.direct {display: block; width:75%; .page-linksec{display: none;}}
		.sidebar {width: 28%; margin-top: 40px; margin-right: 2%;
		.pricing, .add-ons, .platform, .plan, .nonmember { padding: 20px 15px;}
		}

		.ch-grid {
			li {
				width: 270px;
				height: 270px;
			}

			.ch-info-wrap{
				width: 260px;
				height: 260px;
			}

			.ch-info {
				.ch-info-front {padding-top:40px;
					hr{margin:5px auto 10px;}
				}
			}
		}
	}

	@include bp(md) {
		.direct{width: 100%; text-align: center; .page-linksec{display: block}}

		.sidebar { @include sec-default();
			.pricing, .platform, .nonmember { width: 50%; display: inline-block; padding:10px;}
			.plan {display: none;}
			.pricing {
				h3 {font-size: 18px;line-height: 1.3em; display: inline-block; width: 45%; text-align: center;}
			}

			.platform {
				h4{font-size: 15px; span {font-size: 17px;}}
				p {font-size: 15px;}
			}
			.nonmember {background-color: $offwhite;
				.title-line {margin-bottom: 10px;}
				h3 {font-size: 18px;}
				p, h4 {font-size: 15px;}
			}
			.add-ons {padding-top:10px;
				h3 {margin-bottom: 5px;}
			}

		}

		.ch-grid { @include sec-default(); text-align: center;
			li {
				margin: 10px 5px;
			}

			.ch-info {
				.ch-info-front {
					h3 {font-size: 18px; margin: 0 10px 15px;}
				}
				.ch-info-back {padding-top: 65px;
					p { padding: 0 5px;}
					&.less {padding-top: 50px;}
				}
			}
		}
	}

	@include bp(pl) {
		.sidebar {
			.platform, .nonmember {padding: 5px 5px 0;	}
		}
	}

	@include bp(ph) {

		.direct {width: 100%;
			p{font-size: 16px;}
			.page-linksec .page-links{ width: 33%;
				h4 {font-size: 14px;}
			}
		}
		.sidebar {
			.platform, .nonmember, .pricing {@include sec-default();}
		}
	}

	@media (min-width:1200px){
		.ch-grid{ width: 65%; margin-left: 4%;}
	}

	@media (min-width:1285px){
		.ch-grid{ width: 74%; margin-left: 0;}
	}
}

.contact {
	.pages-header{
		background-image:url(image_path('jump.jpg'));background-position: bottom center; height:150px;&::before {background-color:rgba($comp, .65);}}
		// background-image:url(image_path('placeholder.jpg'));background-position: top right; height:200px;&::before {background-color:rgba($black, .2);}}
	h1 { @include tshadow($black); }

	.contact-sec {@include sec-default(); text-align: center;background-color: $offwhite; padding: $padd;
		// @include sec-bgimage();background-size: 50%;background-position: top right;
		.title-line {@include center-block();}

		h4 { margin-bottom:20px; line-height: 1.6em; font-family: $lora; span {font-family: $lora; color:$blue; font-weight: bold;}}

		.link-box {@include sec-default(); @include sec-bgimage(); background-image: url(image_path('placeholder.jpg')); position: relative; z-index: 0; margin: 0px 0 15px; padding: 10px;
			&::before {@include before(); background-color: rgba($blue, .85);}
			.inside {@include sec-default(); text-align: center; border: 1px dotted $gray; padding-top:10px;}

			h4 {color: $gray; margin-top:0; font-weight: bold; @include tshadowl(rgba($gray,.6)); @include ease(); margin-bottom: 5px;
				span{font-weight: bold; color: $white; font-family: inherit; @include ease();}
			}
				&:hover h4 span{color:$comp;}

		}

		ul.social {padding: 10px 40px; position: relative;
				&::before {width: 25%; height: 4px; border-bottom: 1px dotted rgba($gray, .3); content: ""; position: absolute; left: 40%; top:-5px;}
				&::after {width: 25%; height: 4px; border-bottom: 1px dotted rgba($gray, .3); content: ""; position: absolute; left: 40%; bottom:-5px;}
			li {display: inline-block; font-size: 25px; margin-left: 15px;}
		}
	}
}

#package.uk-modal,
#deal.uk-modal  {
	.content{padding-bottom:50px; text-align: center;}
	h3 {color: $blue; font-weight: bold; }
	h4 {font-weight: bold; margin-bottom: 0; font-style: italic;}
	p {margin-left: 5px; color: $font;}

	a.modal-link {font-weight: bold; font-family: $open; color: $comp; font-size: 20px; margin-top: 30px; padding: 10px; border: 1px solid $comp; @include ease();
		&:hover{color: $blue}
	}
}

#members, #members.uk-modal{
	.content{@include sec-default();background-color: #66e1e3;
		text-align: center; padding:10px 5px;
		// @include sec-bgimage(); background-image: url(image_path('lemon-bg.jpg'));
		// background-position: center bottom;
		// position: relative;z-index: 0;
		// &::before {@include before(); background-color: rgba($white,.45);}

		.icon {width: 80px;}
		h2 {color: $comp; font-weight: bold; font-family: $open; @include tshadowl ($gray); text-transform: uppercase; margin-top: 0; margin-bottom: 10px;}
		h3 {color: $gray;font-size: 20px; margin-bottom: 0; line-height: 1em;}
		h4 {font-weight: bold; text-transform: none; color: $black; font-family: $karla; line-height: 1.3em; text-align: center; font-size: 17px; margin-top: 3px;}

		.sec1 {@include sec-default(); background-color: rgba($white, .0);}
		.title-line {@include center-block(); width: 45%; background-color: rgba($gray, .1); margin-bottom: 20px;}
	}

	.monthly {display: inline-block; margin:0 0 15px;
		width:120px; height:120px; border-radius: 50%; background-color:$comp;
		h4{font-weight: bold; color: $white; padding: 30px 0px 0; span{font-weight: normal; color:$lt-blue}}
		&.two {background-color: $gray;}
		&.last {background-color: $teal; h4 span{color:$gray}}
	}

	.mem-box { @include sec-default(); margin-top: 18%; padding: 10px;
		border: 1px solid rgba($blue, .5);
		background-color: rgba($white, .95);
		p {color: $gray;
			&.pleft {color: $blue; font-weight: bold; margin-bottom: 5px;}
			span {font-weight: bold; text-transform: uppercase; color: $comp; @include tshadowl($gray); font-size: 18px}
			span.print {color: $font; font-style: italic; font-size: 15px; font-weight: normal; text-shadow: none; }
		}
		i {font-size: 14px;}
		h3 {color: $gray; font-weight: bold; text-align: center; font-size: 19px; padding: 0 10px;}
	}

	// @include bp(tb) {
	// 	.content{ background-image: url(image_path('water-mob.png'));}
	// }

	@include bp(md) {
		// .content{background-color: $offwhite;}
		.mem-box {margin-top: 20px; width:90%;}
	}

	@include bp(mb) {
		.content .sec1 h4.xsbg {font-size: 15px;}
		.mem-box {
			.title-line{margin-bottom: 10px;}
			p {
				&.pleft {font-size: 15px;}
				span {font-size: 17px}
				span.print { font-size: 14px; }
			}
		}
	}

	@include bp(ph) {
		.content {background-image: none;}
		.mem-box{margin-top: 5px; width:100%;}
	}
}

#clinic.uk-modal {
	text-align: center;
	.uk-modal-close {float: right;}
	h2 {font-weight: bold; color: $blue;}
	.left{width: 50%; float: left;}
	h4{text-transform: none; font-weight: bold; color: $comp;}
}

.iv-main {@include sec-default();
		.inner {@include sec-default(); padding:20px 0;}

		.title-box {display: inline-block; float: left; width: 25%; padding-top: 20px; padding-left: 20px;
			// @include sec-bgimage(); background-image: url(image_path('juice.jpg'));
			.inside-round {width: 200px; height: 200px; background-color: $white; border-radius: 50%; text-align: center; padding: 50px 20px 0; display: block;
				.faq-link { background-color: $comp; padding: 10px;font-weight: bold; color:$white; text-transform: uppercase;}
				h3 {font-family: $open; font-weight: bold;}
			}
		}

		p{color: $gray;font-size: 16px; padding:0 5px;}
		h3, h2 { color: $teal; font-weight: bold; font-family: $open;}
		h4 {text-align: left; color: $blue; margin-bottom:5px; font-family: $open; font-weight: bold; span {color: $gray;}}
		hr {width: 90%; float: left; margin: 10px 0; }
		.title-line {background-color: $blue;}

		.left {@include sec-default();padding: 0 20px 0 10px; margin-bottom: 40px;}
		.right {float: right; padding: 0 15px;}

		.block1, .block2, .block3 {width: 49%; float: left; padding:0 10px;}
		.block2 {float: right;}
		.block3 {width: 70%; margin-top:10px; }

		.right {background-color: $white; @include shadow-dk(); text-align: center; padding:15px 5px;
			@include sec-bgimage(); background-image: url(image_path('slices-bg.jpg'));  position: relative;z-index: 0;
			&::before {@include before(); background-color: rgba($white,.7);}

			.icon {width: 80px;}
			// h2 {color: $comp; font-weight: bold; font-family: $open; @include tshadowl ($gray); text-transform: uppercase; margin-top: 0; margin-bottom: 15px;}
			// h3 {color: $gray;font-size: 20px; margin-bottom: 0; line-height: 1em;}
			h4 {font-weight: normal; text-transform: none; color: $gray; font-family: $karla; line-height: 1.3em; text-align: center; font-size: 17px; margin-top: 3px;}

			.sec1 {@include sec-default(); background-color: rgba($white, .3);}
			.title-line {@include center-block(); width: 45%; background-color: rgba($gray, .1); margin-bottom: 20px;}
		}

		// .monthly {display: inline-block; margin:0 0 15px;
		// 	width:120px; height:120px; border-radius: 50%; background-color:$comp;
		// 	h4{font-weight: bold; color: $white; padding: 30px 0px 0; span{font-weight: normal; color:$lt-blue}}
		// 	&.two {background-color: $gray;}
		// 	&.last {background-color: $teal; h4 span{color:$gray}}
		// }

		// .mem-box { width:80%; @include center-block();
		// 	border: 1px solid rgba($blue, .5);
		// 	background-color: rgba($white, .2);
		// 	p {color: $gray;
		// 		&.pleft {color: $blue; font-weight: bold; margin-bottom: 5px;}
		// 		span {font-weight: bold; text-transform: uppercase; color: $comp; @include tshadowl($gray); font-size: 18px}
		// 		span.print {color: $font; font-style: italic; font-size: 15px; font-weight: normal; text-shadow: none; }
		// 	}
		// 	i {font-size: 14px;}
		// 	h3 {color: $gray; font-weight: bold; text-align: center; font-size: 19px; padding: 0 10px;}
		// }


		// #accordeon, #solo {@include sec-default();
		// 	.cbp-item.round { @include sec-default();
		// 		.cbp-caption {display: inline-block; width: 24%;}
		// 		.cbp-caption-defaultWrap {width: 140px; height: 140px; border-radius: 50%; border: 1px solid $blue; padding: 0; padding-top: 20%;
		// 			h4 {font-size: 17px; text-align: center;}
		// 		}
		// 	}
		// }

	@include bp(dt) {
		.iv-main { padding:0;
			// background-color: $white; @include shadow();
			.inner{padding:20px 20px 40px 25px; background-image: none;}

			.left {width: 64%; padding-top:35px; margin-bottom: 0;}
			.block1, .block2, .block3 {width: 50%; float: left; padding:0 10px;}
			.block2 {float: right;}
			.block3 {@include sec-default();padding-top: 10px; }

			.right {width:32%; float: right; margin-left: 35px; padding-bottom: 25px;}
			.monthly {width:110px; height:110px;}
			.mem-box{margin-top: 15px;}

		}
	}
}




.home {
	.shadow{@include sec-default();
		background-color: $white; @include shadow();
	}


	h4.fancy {text-align: center; margin:40px 0 10px; position: relative; font-weight: bold; color: darken($blue, 5%); font-size: 20px;
		&::before, &::after {content: ""; width: 10%; height: 1px; background-color: rgba($gray, .3); top:10px; position: absolute;}
		&::before{left:0;}
		&::after{right:0;}
	}

	.home-hero{@include sec-default(); padding: 60px;
		&.hero-img {@include sec-bgimage(); background-image: url(image_path('beach-couple.jpg'));background-position: center center;}

		.title-block {float: right; margin-top: 6%; text-align: center;
			.circles {width:100px;display: inline-block;}
			.content{@include sec-default();padding-bottom: 30px; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; border-bottom: 1px solid rgba($gray, .3);
			}

			.top {@include sec-default();
				h2 { margin: 0; line-height: 1em; color:$white; position: relative;
					&::before, &::after {content: ""; width: 15%; height: 1px; background-color: rgba($gray, .3); top:15px; position: absolute;}
					&::before{left:30px;}
					&::after{right:30px;}
				}
			}
		}

		h1, h2, h3 {font-weight: bold;@include tshadow(rgba($black, .8)); color:$white; }
		h3 { line-height: .9em; margin:0;}
		h1 {color: $black; @include tshadow($gray); line-height: 1em; font-family: $open;}
	}

	.faq-sec {@include sec-default();background-color: $offwhite;
		@include sec-bgimage(); background-size: 32%; background-image: url(image_path('juice.jpg'));
		&.white {background-color: $white; @include shadow();}
		h3 {font-weight: bold; font-family: $open; padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; margin-bottom: 10px;}

		.title-box {display: inline-block; float: left; width: 25%; padding-top: 20px; padding-left: 20px;
			.inside-round {
				margin-left: 35px; text-align: center; padding: 50px 20px 0; display: block;
				h3 {font-family: $open; font-weight: bold; font-size: 35px; @include tshadow($light);}
			}
		}

		.md-right {width: 64%; display: inline-block; float: none; margin-left: 6%; padding:20px 0 30px 40px;}
		.faq-box {
			display: inline-block; width: 49%; float: left; padding:10px 15px 0;
			h3 {font-size: 20px;}
			p{padding-left:10px; }
			.faq-link {width: 80%; @include center-block(); background-color: $comp; color: $white; font-weight: bold; font-size: 16px; text-align: center; font-family: $karla; margin-top: 20px; padding: 10px;}
			b{color: $comp}
			&.right {float: right;}
			&.full {width:100%;}
		}
		.drip {margin:10px 0 10px 5px; width: 24%; height: 100px; float: left;
			&::before{@include before(); background-color: rgba($black, .1);}
			p{font-size: 18px; color: $white; @include tshadow($black); }
		}
	}

	.book-banner {@include sec-default(); padding:10px 0 0; text-align: center;background-color: $comp;
		h3, h4 {font-weight: bold; @include tshadowl(rgba($gray, .6)); font-family: $open; color: $white;}
		h3{font-size: 50px; margin-top: 0; margin-bottom: 15px;
			span{color: $blue;@include tshadowl(rgba($gray, .6)); font-family: $open;}
		}
		h4 {font-size: 25px; margin-bottom: 0px;}

		.cta {display: inline-block; width:20%; float: none; margin-left:5%; margin-top: 15px; background-color: lighten($blue, 10%); font-size: 23px; font-weight: bold; color: $white; padding: 10px 15px;
			@include tshadowl(rgba($gray, .4));
			span {color: $gray; font-size: 18px;}
		}
	}

	.banner-top { @include sec-default();
		background-color: $white;
		@include sec-bgimage(); background-image: url(image_path('water-bg-tall.png'));
		.inner {width: 92%; @include center-block();}
		.left-block {@include sec-default(); margin-bottom: 15px; text-align: center;}

		h3 {font-weight: 800; font-family: $open; font-size: 35px;
			b{color: $blue; }
			span {font-weight: normal; font-size: 20px; color:$blue;}
			.fa {font-size: 6px; vertical-align: middle;}
		}
		h4 {font-weight: bold; margin-bottom: 10px; line-height: 1.3em;
			b {color: $blue;}
		}

		.ch-grid.h-menu{
			@include sec-default(); text-align: center;
			li {width: 180px; height: 180px; margin: 10px 15px;
				.ch-info-wrap { background-color: #191970; padding-top: 25px;
					width: 170px; height: 170px;
					&.alt{background-color: #44dba7; }
					&.alt2{background-color: #9900cc; padding-top: 10px;}
				}
				h4 { color: $white; font-weight: bold; @include tshadowl ($gray); font-size: 22px; @include ease(); margin-top: 0;
					span {font-size: 18px;}
				}
				.icon {width: 25%; }
				&:hover h4 {color: $comp;}
			}
		}
	}
	.layout-mainb{@include sec-default();
		padding:50px 0 0;

			.inner-sub {@include center-block(); width: 90%; text-align: center;
				.qcon {width: 10%; @include center-block();}
				.top-bar {@include sec-default(); text-align: center; margin-bottom: 25px;}
				.q-box {display: inline-block; float: none; margin:0 5px; padding: 15px 10px 15px 15px; width: 23%; text-align: center; position: relative; z-index: 0;background-color: $white;
					border-right:1px solid #dfdfdf;
					&.last {margin-right: 0;border-right: 0;}
				}
			}

			.book-banner {float: right;display: inline-block; width: 30%;}
	}

	.faq-alt {@include sec-default();background-color: $comp;
			h3 {font-weight: bold; font-family: $open; margin-bottom: 10px;}
		.book-banner {display: inline-block; float: left; width: 30%; padding-top: 8%;
			.img-banner {margin-top: 40px;}
		}

		.md-right {width: 70%; display: inline-block; float: none; background-color: $offwhite;
			padding:0 10px 20px;
			.title-box {@include sec-default(); text-align: center; margin-top: 5px;
				h3 {color: $blue; font-size: 30px;}
			}
		}

		.faq-box {
			display: inline-block; width: 49%; float: left; padding:0px 20px 0;
			h3 {font-size: 20px;padding: 10px 0;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; }
			p{padding-left:10px; }
			b{color: $comp}
			&.right {float: right;}
			&.full {width:100%;}
		}
	}

	@include bp(dt) {
		#nav .logo {width:280px;}
		.home-hero {height:650px; padding:100px;
			.title-block{width: 40%; }
			h1 {font-size: 85px;
				 &::before{left: -20px;}
			}
		}

		.banner-top {
			padding:20px 0 100px;
		}

	}
	@include bp(tb) {
		.home-hero {height:550px;
			.title-block{width: 45%;
				.content {padding-bottom:15px;}

				.top h2{
					&::before, &::after {width:10%;}
				}
						&::before{left:50px;}
						&::after{right:50px;}
			}
			h1{font-size: 65px; margin-bottom: 0; line-height: .8em;
				&::before {left:-20px; background-size: 75%; background-position: top center;}
			}
		}

		.banner-top {
			padding:30px 0 70px;
			background-position: bottom right;
		}

		.inner-sub {width:98%;
			.q-box { padding: 10px;
				p {font-size: 16px;}
			}
		}

		.faq-alt {
			.book-banner{
				h3{font-size: 40px; margin: 15px 0;}
				h4 {font-size: 20px; margin-bottom: 0px;}
			}

			.faq-box {padding: 0 10px;}
		}
	}

	@include bp(md) {
		.home-hero{height:430px; padding-right: 20px;
			.title-block{width: 55%;}
			h1 {font-size: 40px;
				&::before {background-size: 55%; left:10px}
			}
			.top {
				&::before, &::after {top: -5px}
				h2 {font-size: 22px;
				}
			}
		}

		.banner-top{padding-bottom: 30px;background-image: url(image_path('water-mob.png'));}
		.layout-mainb {padding-top: 10px;
			.inner-sub { @include sec-default();
				.q-box { width: 44%; margin: 10px;border-bottom: 1px solid #dfdfdf;
					p {font-size: 16px;}
				}
			}
		}

		.faq-alt {
			.book-banner {@include sec-default(); padding:10px 0 0;
				.img-banner{margin-top: 10px;}
			}
			.md-right {padding:10px 20px 20px;@include sec-default(); background-color: $offwhite;}
			.faq-box{@include sec-default();}
		}
	}

	@include bp(pl) {
		.home-hero .title-block {
			.top h2, .content h2 { font-size: 24px; }
			.content {
				h1, h2 {margin-top: 5px;}
			}
		}

		.banner-top{padding-top: 0;
			.left-block h3{font-size: 25px;
				span {font-size: 18px;}
			}
		}
	}

	@include bp(mb) {
		.home-hero{height:330px; padding-right: 5px;
			h1 {font-size: 30px;}
			.top {
				&::before, &::after {top: -5px}
			}
			.top, .content {h2 {font-size: 20px;}}
		}

		.banner-top {
			.ch-grid.h-menu{
				li {width: 160px; height: 160px; margin: 5px 10px;
					.ch-info-wrap { width: 150px; height: 150px;}
					h4 { font-size: 18px;
						span {font-size: 16px;}
					}
				}
			}
		}

		.layout-mainb {
			.inner-sub .q-box {width:47%; padding: 7px; margin:8px 5px; p{font-size: 15px;}}
		}

		.faq-alt {
			.book-banner h3{font-size: 30px; margin-top: 5px;
				.img-banner {display: none;}
			}
			.md-right{ padding-top: 0;
				.title-box h3 {font-size: 25px; margin-bottom:0px; }
				.faq-box h3 {font-size: 18px;}
			}
		}
	}

	@include bp(ph) {
		.home-hero { height:250px;
			.title-block { margin-top: 0px;
				.content{ border-left: none; border-right: none; border-bottom: none;
					h1 {width: 85%; margin-top: 0; }
				}
				h2{margin-top: 0}
				.top {h2::before, h2::after {display: none;}}
				.top, .content {h2 {font-size: 19px}}
			}
		}

		.banner-top {
			.ch-grid.h-menu{
				li {width: 140px; height: 140px; margin: 5px;
					.ch-info-wrap { width: 130px; height: 130px; padding-top: 20px;}
					h4 { font-size: 16px;
						span {font-size: 15px;}
					}
				}
			}
		}

		.layout-mainb .inner-sub {
			.q-box { width:75%; @include center-block(); padding:15px 10px 0px;
				&.last {margin-right: auto;}
			}
			.qcon {display: none;}
		}

		.faq-alt {
			.book-banner {
				.img-responsive {display: none;}
			}
			.md-right {
				.title-box h3 {font-size: 22px; margin-top: 10px;}
				.faq-box {
					h3 {margin-top: 10px; font-size: 16px;}
					p {font-size: 15px;}
				}
			}
		}
	}

	@include bp(sm) {
		.home-hero {
			.title-block {width:60%;
				.top, .content {h2 {font-size: 17px}}
			}
		}

		.banner-top {
			.ch-grid.h-menu{ margin-bottom: 0;
				li { margin:0px 2px;width: 130px; height: 130px;
					.ch-info-wrap { width: 120px; height: 120px; }
				}
			}
		}

		.layout-mainb{padding-top: 0;
			.inner-sub {
				.q-box {width:95%;}
			}
		}
	}

	@include bp(xs) {
		.home-hero {
			.title-block {width:65%;
				.top, .content {h2 {font-size: 16px}}
			}
		}

		.banner-top {
			.inner .left-block {
				h3 {font-size: 22px;
					span {font-size: 16px;}
				}
			}
		}

		.layout-mainb{padding-top: 0;
			.inner-sub {
				.q-box {width:95%;}
			}
		}

		.faq-alt {
			.md-right {padding:0 8px 10px;
				.title-box{margin-bottom: 5px;}
			}
		}
	}

	@include bp(xx) {
		.banner-top {
			.inner .left-block {
				h3 {font-size: 20px;
					span {font-size: 15px;}
				}
			}
		}
	}
}
