<header>
	<div id="nav" class="stick">
		<div class="container">
	    <div class="logo-block"><%= link_to(image_tag( 'enrg-logo.png', alt: 'Logo', class: 'img-responsive logo'), root_path ) %></div>
			<nav>
				<ul>
			    <%= render 'layouts/nav' %>
				</ul>
			</nav>
		</div>
	</div>
</header>
