
<header>
	<div id="nav" class="stick">
		<div class="book-bar">
			<div class="contact-info">
				<h4><%= number_to_phone(2057900323, delimiter: '.') %></h4>
				<h4><a data-uk-modal="{center:true}" class="modal3" href="#appt">Book Online Now</a></h4>
				<h4 class="wiw">Walk-Ins Welcome</h4>
				<!-- <h4>Book Online Now</h4> -->
			</div>
		</div>
		<div class="container">
	    <div class="logo-block"><%= link_to(image_tag( 'enrg-logo.png', alt: 'Logo', class: 'img-responsive logo'), root_path ) %></div>
			<nav>
				<ul class="megamenu-parent menu-zoom hidden-xs">
			    <%= render 'layouts/nav' %>
				</ul>
			</nav>

				<div>
			    <a href="#" id="offcanvas-toggler">
			        <span></span>
			        <span></span>
			        <span></span>
			    </a>
			  </div>
		</div>
	</div>
</header>
